Repository flowstorm/core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: document snapshot api, document snapshot app, document snapshot services/port/api, distribute client client/standalone

.gitlab-ci.yml:

stages:
  - publish
  - distribute
  - document

#
# JOB TEMPLATES
#
# .distribute
#
.distribute java client:
  stage: distribute
  image: registry.promethist.ai/common/system/builder
  variables:
    DIR: client/XXX
    NAME: NAME
  only:
    refs:
      - develop
      - tags
  script:
    - cd $DIR
    - mvn -B package # maybe useless - should be already packaged by publish job
    - cp target/$NAME.jar /ext/cluster/default/default/repository/dist/$NAME-$CI_COMMIT_REF_NAME.jar

#
# .document
#
.document release:
  stage: document
  image: registry.promethist.ai/common/system/builder
  variables:
    DIR: services
    NAME: NAME
    MODULE: api
  only:
    refs:
      - tags
  except:
    - /^(!master).+@/
  script:
    - cd $DIR/$NAME/$MODULE
    - mvn dokka:dokka
    - rsync -arv --delete ./target/dokka/$NAME-$MODULE /ext/cluster/default/default/site/default/apidoc/

.document snapshot:
  stage: document
  image: registry.promethist.ai/common/system/builder
  variables:
    DIR: services
    NAME: NAME
    MODULE: api
  only:
    refs:
      - develop
  script:
    - cd $DIR/$NAME/$MODULE
    - mvn dokka:dokka
    - rsync -arv --delete ./target/dokka/$NAME-$MODULE /ext/cluster/default/develop/site/default/apidoc/

#
# JOBS
#
# publish all release packages
#
publish release packages:
  stage: publish
  image: registry.promethist.ai/common/system/builder
  only:
    refs:
      - tags
  except:
    - /^(!master).+@/
  artifacts:
    untracked: true
  script:
    - mvn -B versions:set -DnewVersion=$CI_COMMIT_REF_NAME
    - mvn -B deploy -Dapi.basedomain=promethist.com

#
# publish all snaphot packages
#
publish snaphot packages:
  stage: publish
  image: registry.promethist.ai/common/system/builder
  variables:
    DIR: services
    NAME: NAME
  only:
    refs:
      - develop
  artifacts:
    untracked: true
  script:
    - mvn -B deploy -Dapi.basedomain=develop.promethist.com

#
# api
#
document release api:
  extends: '.document release'
  variables:
    DIR: ..
    NAME: core
    MODULE: api

document snapshot api:
  extends: '.document snapshot'
  variables:
    DIR: ..
    NAME: core
    MODULE: api
  only:
    changes:
      - api/**/*

#
# app
#
document release app:
  extends: '.document release'
  variables:
    DIR: ..
    NAME: core
    MODULE: app

document snapshot app:
  extends: '.document snapshot'
  variables:
    DIR: ..
    NAME: core
    MODULE: app
  only:
    changes:
      - app/**/*

#
# services/port/api
#
document release services/port/api:
  extends: '.document release'
  variables:
    DIR: services
    NAME: port
    MODULE: api

document snapshot services/port/api:
  extends: '.document snapshot'
  variables:
    DIR: services
    NAME: port
    MODULE: api
  only:
    changes:
      - services/port/api/**/*

#
# client/standalone
#
distribute client client/standalone:
  extends: '.distribute java client'
  variables:
    DIR: client/standalone
    NAME: promethist
  only:
    changes:
      - client/**/*
      - common/**/*

POM update
  .gitignore
  client/common/pom.xml
  client/lib/pom.xml
  client/pom.xml
  client/standalone/dependency-reduced-pom.xml
  client/standalone/pom.xml
  common/lib/pom.xml
  common/pom.xml
  services/core/api/pom.xml
  services/core/app/pom.xml
  services/core/pom.xml
  services/pom.xml
  services/port/api/pom.xml
  services/port/app/pom.xml
  services/port/pom.xml
Due: document snapshot services/port/api, distribute client client/standalone

Clean-up pom kotlin dependecies, use version 1.3.50 defined in main pom.xml
  api/pom.xml
  app/pom.xml
  client/common/pom.xml
  client/lib/pom.xml
  client/pom.xml
  client/standalone/pom.xml
  common/lib/app/pom.xml
  common/lib/client/pom.xml
  common/lib/lib/pom.xml
  common/lib/pom.xml
  pom.xml
  services/core/api/pom.xml
  services/core/app/pom.xml
  services/core/pom.xml
  services/port/api/pom.xml
  services/port/app/pom.xml
  services/port/pom.xml
Due: document snapshot api, document snapshot app, document snapshot services/port/api, distribute client client/standalone

Extract kmongo version into main pom.xml and use 3.12.2
  api/pom.xml
  client/common/pom.xml
  common/lib/app/pom.xml
  common/lib/lib/pom.xml
  pom.xml
  services/core/app/pom.xml
Due: document snapshot api, distribute client client/standalone

Update kotlin to 1.3.72
  pom.xml
Due: none

Update mockk to 1.10.2
  app/pom.xml
  common/lib/app/pom.xml
  common/lib/lib/pom.xml
  services/core/api/pom.xml
  services/core/app/pom.xml
  services/port/api/pom.xml
  services/port/app/pom.xml
Due: document snapshot app, document snapshot services/port/api, distribute client client/standalone

Exclude conflicting dependencies from kmnogo.
  api/pom.xml
  common/lib/app/pom.xml
  common/lib/lib/pom.xml
Due: document snapshot api, distribute client client/standalone

Update jackson version 2.10.4
  common/lib/app/pom.xml
  common/lib/lib/pom.xml
  common/lib/pom.xml
  pom.xml
Due: distribute client client/standalone

Exclude kotlin-daemon-embeddable to avoid duplication classes in classpath.
  app/pom.xml
Due: document snapshot app

Kmongo exclude confilcting dependencies.
  services/port/app/pom.xml
Due: none

update auth0 libs
  common/lib/lib/pom.xml
Due: distribute client client/standalone

Update jersey version to 2.32
  common/lib/pom.xml
  pom.xml
  services/core/app/pom.xml
Due: distribute client client/standalone

Exclude conflicting dependencies.
  common/lib/app/pom.xml
  common/lib/client/pom.xml
Due: distribute client client/standalone

Exclude conflicting dependencies from mongo.
  api/pom.xml
  common/lib/app/pom.xml
  services/core/app/pom.xml
Due: document snapshot api, distribute client client/standalone

Exclude conflicting dependencies.
  common/lib/client/pom.xml
  services/core/app/pom.xml
Due: distribute client client/standalone

small improvements
  common/app/src/main/kotlin/com/promethist/common/JettyServer.kt
  common/app/src/main/kotlin/com/promethist/common/NettyServer.kt
  service/app/src/main/kotlin/com/promethist/core/Application.kt
  service/app/src/main/kotlin/com/promethist/core/file/GoogleStorage.kt
Due: distribute client client/standalone

support of standalone run
  common/app/src/main/kotlin/com/promethist/common/JettyServer.kt
  service/app/src/main/kotlin/com/promethist/core/Application.kt
Due: distribute client client/standalone

CI FIX
  .gitlab-ci.yml
Due: none

Exclude conflicting dependency for jackson.
  service/app/pom.xml
Due: none

Update jackson to 2.11.3
  pom.xml
Due: none

update of service port definition
  common/lib/src/main/kotlin/com/promethist/common/ServiceUrlResolver.kt
Due: distribute client client/standalone

Update Kotlin to 1.4.20
  pom.xml
Due: none

Fix - MongoFilterFactory - wrong type definition - 1.4.20 revealed this bug.
  common/app/src/main/kotlin/com/promethist/common/query/MongoFiltersFactory.kt
Due: distribute client client/standalone

adding servlets for standalone application run
  common/app/src/main/kotlin/com/promethist/common/JettyServer.kt
  service/app/pom.xml
  service/app/src/main/kotlin/com/promethist/core/Application.kt
Due: distribute client client/standalone

Fix - replace "filestore" and "port" to "core" in ServiceUrlResolver calls.
  client/standalone/src/main/kotlin/com/promethist/client/standalone/Application.kt
  client/standalone/src/main/kotlin/com/promethist/client/standalone/cli/CallCommand.kt
  client/standalone/src/main/kotlin/com/promethist/client/standalone/cli/ClientCommand.kt
  client/standalone/src/main/kotlin/com/promethist/client/standalone/cli/ClientConfig.kt
  common/lib/src/main/kotlin/com/promethist/common/ServiceUrlResolver.kt
  common/lib/src/test/kotlin/com/promethist/common/ServiceUrlResolverTest.kt
Due: distribute client client/standalone

file+community storage vs. resource, bot core api is now part of core service app
  api/src/main/kotlin/com/promethist/core/CommunityStorage.kt
  api/src/main/kotlin/com/promethist/core/Context.kt
  api/src/main/kotlin/com/promethist/core/FileStorage.kt
  app/src/main/kotlin/com/promethist/core/builder/DialogueBuilder.kt
  app/src/main/kotlin/com/promethist/core/dialogue/attribute/CommunityAttributeDelegate.kt
  app/src/main/kotlin/com/promethist/core/provider/LocalFileStorage.kt
  app/src/main/kotlin/com/promethist/core/runtime/DialogueLoadTest.kt
  app/src/main/kotlin/com/promethist/core/runtime/DialogueRunner.kt
  app/src/main/kotlin/com/promethist/core/runtime/FileResourceLoader.kt
  app/src/main/kotlin/com/promethist/core/runtime/SimpleCommunityStorage.kt
  app/src/test/kotlin/com/promethist/core/builder/DialogueBuilderTest.kt
  client/lib/src/main/kotlin/com/promethist/client/BotCoreClient.kt
  client/lib/src/main/kotlin/com/promethist/client/signal/SignalFileProvider.kt
  common/app/src/main/kotlin/com/promethist/common/servlets/InjectableWebSocketServlet.kt
  service/api/src/main/kotlin/com/promethist/core/resources/CommunityResource.kt
  service/api/src/main/kotlin/com/promethist/core/resources/CoreResource.kt
  service/api/src/main/kotlin/com/promethist/core/resources/DialogueEventResource.kt
  service/api/src/main/kotlin/com/promethist/core/resources/FileResource.kt
  service/app/src/main/kotlin/com/promethist/core/Application.kt
  service/app/src/main/kotlin/com/promethist/core/BotCore.kt
  service/app/src/main/kotlin/com/promethist/core/BotService.kt
  service/app/src/main/kotlin/com/promethist/core/context/ContextPersister.kt
  service/app/src/main/kotlin/com/promethist/core/file/GoogleStorage.kt
  service/app/src/main/kotlin/com/promethist/core/handlers/alexa/AbstractHandler.kt
  service/app/src/main/kotlin/com/promethist/core/handlers/alexa/CancelAndStopIntentHandler.kt
  service/app/src/main/kotlin/com/promethist/core/handlers/alexa/FallbackIntentHandler.kt
  service/app/src/main/kotlin/com/promethist/core/handlers/alexa/HelpIntentHandler.kt
  service/app/src/main/kotlin/com/promethist/core/handlers/alexa/LaunchRequestHandler.kt
  service/app/src/main/kotlin/com/promethist/core/handlers/alexa/MessageIntentHandler.kt
  service/app/src/main/kotlin/com/promethist/core/handlers/alexa/SessionEndedRequestHandler.kt
  service/app/src/main/kotlin/com/promethist/core/handlers/google/PromethistApp.kt
  service/app/src/main/kotlin/com/promethist/core/resources/CoreResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/FileResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/socket/AbstractBotSocketAdapter.kt
  service/app/src/main/kotlin/com/promethist/core/tts/TtsAudio.kt
  service/app/src/main/kotlin/com/promethist/core/tts/TtsAudioService.kt
Due: document snapshot api, document snapshot app, distribute client client/standalone

file storage used inside core (no more REST calls), has its own exception; core-service-app is now executable fat jar, allowing standalone run
  api/src/main/kotlin/com/promethist/core/FileStorage.kt
  pom.xml
  service/app/pom.xml
  service/app/src/main/kotlin/com/promethist/core/Application.kt
  service/app/src/main/kotlin/com/promethist/core/file/GoogleStorage.kt
  service/app/src/main/kotlin/com/promethist/core/resources/FileResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/tts/TtsAudioService.kt
Due: document snapshot api

Move @Path annotations to resource implementation classes.
  service/api/src/main/kotlin/com/promethist/core/resources/CommunityResource.kt
  service/api/src/main/kotlin/com/promethist/core/resources/ContentDistributionResource.kt
  service/api/src/main/kotlin/com/promethist/core/resources/CoreResource.kt
  service/api/src/main/kotlin/com/promethist/core/resources/DevicePairingResource.kt
  service/api/src/main/kotlin/com/promethist/core/resources/DialogueEventResource.kt
  service/api/src/main/kotlin/com/promethist/core/resources/ProfileResource.kt
  service/api/src/main/kotlin/com/promethist/core/resources/ReportResource.kt
  service/api/src/main/kotlin/com/promethist/core/resources/SessionResource.kt
  service/app/src/main/kotlin/com/promethist/core/CoreApplication.kt
  service/app/src/main/kotlin/com/promethist/core/resources/CommunityResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/DevicePairingResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/DialogueEventResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/ProfileResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/ReportResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/SessionResourceImpl.kt
Due: none

Refactor registering default packages.
  common/app/src/main/kotlin/com/promethist/common/JerseyApplication.kt
  common/app/src/main/kotlin/com/promethist/common/resources/CheckResource.kt
  service/app/src/main/kotlin/com/promethist/core/CoreApplication.kt
  service/app/src/main/webapp/WEB-INF/web.xml
Due: distribute client client/standalone

Log resolved url in UrlResolver
  common/lib/src/main/kotlin/com/promethist/common/ServiceUrlResolver.kt
  service/app/src/main/kotlin/com/promethist/core/Application.kt
Due: distribute client client/standalone

Remove unused QueryInjectionResolver.
  common/app/src/main/kotlin/com/promethist/common/query/QueryInjectionResolver.kt
  common/app/src/main/kotlin/com/promethist/common/query/QueryParams.kt
  service/app/src/main/kotlin/com/promethist/core/CoreApplication.kt
Due: distribute client client/standalone

Annotation @Produce needs to be on implementation class.
  service/api/src/main/kotlin/com/promethist/core/resources/ReportResource.kt
  service/app/src/main/kotlin/com/promethist/core/resources/CommunityResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/CoreResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/DevicePairingResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/DialogueEventResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/FileResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/ProfileResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/ProxyResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/ReportResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/resources/SessionResourceImpl.kt
Due: none

Refactor starting Jersey application.
  common/app/src/main/kotlin/com/promethist/common/JerseyApplication.kt
  common/app/src/main/kotlin/com/promethist/common/JettyServer.kt
  common/app/src/main/kotlin/com/promethist/common/ServerConfigProvider.kt
  service/app/src/main/kotlin/com/promethist/core/CoreApplication.kt
Due: distribute client client/standalone

Move builder classes from core to cloud.
  app/src/main/kotlin/com/promethist/core/builder/BuildLogAppender.kt
  app/src/main/kotlin/com/promethist/core/builder/DialogueBuilder.kt
  app/src/main/kotlin/com/promethist/core/builder/DialogueSourceCodeBuilder.kt
  app/src/main/kotlin/com/promethist/core/builder/IllusionistModelBuilder.kt
  app/src/main/kotlin/com/promethist/core/builder/IntentModelBuilder.kt
  app/src/test/kotlin/com/promethist/core/builder/DialogueBuilderTest.kt
Due: document snapshot app

Fixes: We need to bind resources when we inject them to another class.
  service/app/src/main/kotlin/com/promethist/core/CoreApplication.kt
  service/app/src/main/kotlin/com/promethist/core/resources/CoreResourceImpl.kt
Due: none

Fix path to resources after moving @Path anntations
  service/app/src/main/kotlin/com/promethist/core/CoreApplication.kt
Due: none

Fix warning when resource method parameter contains enum.
  service/api/src/main/kotlin/com/promethist/core/resources/ReportResource.kt
  service/app/src/main/kotlin/com/promethist/core/resources/ReportResourceImpl.kt
Due: none

Use latest google-speech library.
  service/app/pom.xml
  service/app/src/main/kotlin/com/promethist/core/tts/GoogleTtsService.kt
Due: none

Clean-up dependency binder, inject dependencies into servelets.
  app/src/main/kotlin/com/promethist/core/runtime/DialogueFactory.kt
  app/src/main/kotlin/com/promethist/core/runtime/DialogueLoadTest.kt
  app/src/main/kotlin/com/promethist/core/runtime/DialogueRunner.kt
  app/src/main/kotlin/com/promethist/core/runtime/FileResourceLoader.kt
  service/app/src/main/kotlin/com/promethist/core/CoreApplication.kt
  service/app/src/main/kotlin/com/promethist/core/nlp/Cassandra.kt
  service/app/src/main/kotlin/com/promethist/core/nlp/Duckling.kt
  service/app/src/main/kotlin/com/promethist/core/nlp/Illusionist.kt
  service/app/src/main/kotlin/com/promethist/core/socket/AbstractBotSocketAdapter.kt
  service/app/src/main/kotlin/com/promethist/core/tts/TtsAudioService.kt
Due: document snapshot app
