Repository flowstorm/core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: document snapshot lib, document snapshot app, document snapshot runner/api, document snapshot builder/api, distribute client client/standalone

.gitlab-ci.yml:

stages:
  - build
  - distribute
  - document

#
# JOB TEMPLATES
#
# .distribute
#
.distribute java client:
  stage: distribute
  image: registry.gitlab.com/promethist/system/builder
  variables:
    DIR: client/XXX
    NAME: NAME
  only:
    refs:
      - develop
      - tags
  script:
    - cd $DIR
    - mvn -B package # maybe useless - should be already packaged by build job
    - cp target/$NAME.jar /ext/cluster/default/default/repository/dist/$NAME-$CI_COMMIT_REF_NAME.jar

#
# .document
#
.document release:
  stage: document
  image: registry.gitlab.com/promethist/system/builder
  variables:
    DIR: api
    NAME: NAME
  only:
    refs:
      - tags
  except:
    - /^(!master).+@/
  script:
    - cd $DIR
    - mvn dokka:dokka
    - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/default/site/default/apidoc/

.document snapshot:
  stage: document
  image: registry.gitlab.com/promethist/system/builder
  variables:
    DIR: api
    NAME: NAME
  only:
    refs:
      - develop
  script:
    - cd $DIR
    - mvn dokka:dokka
    - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/develop/site/default/apidoc/

#
# JOBS
#
# build all release packages
#
build release packages:
  stage: build
  image: registry.gitlab.com/promethist/system/builder
  only:
    refs:
      - tags
  except:
    - /^(!master).+@/
  artifacts:
    untracked: true
  script:
    - mvn -B versions:set -DnewVersion=$CI_COMMIT_REF_NAME
    - mvn -B deploy -Dapi.basedomain=promethist.com

#
# build all snaphot packages
#
build snaphot packages:
  stage: build
  image: registry.gitlab.com/promethist/system/builder
  only:
    refs:
      - develop
  artifacts:
    untracked: true
  script:
    - mvn -B deploy -Dapi.basedomain=develop.promethist.com

#
# lib
#
document release lib:
  extends: '.document release'
  variables:
    DIR: lib
    NAME: promethist-core-lib

document snapshot lib:
  extends: '.document snapshot'
  variables:
    DIR: lib
    NAME: promethist-core-lib
  only:
    changes:
      - lib/**/*

#
# app
#
document release app:
  extends: '.document release'
  variables:
    DIR: app
    NAME: promethist-core-app

document snapshot app:
  extends: '.document snapshot'
  variables:
    DIR: app
    NAME: promethist-core-app
  only:
    changes:
      - app/**/*

#
# runner/api
#
document release runner/api:
  extends: '.document release'
  variables:
    DIR: runner/api
    NAME: promethist-core-runner-api

document snapshot runner/api:
  extends: '.document snapshot'
  variables:
    DIR: runner/api
    NAME: promethist-core-runner-api
  only:
    changes:
      - runner/api/**/*

#
# builder/api
#
document release builder/api:
  extends: '.document release'
  variables:
    DIR: builder/api
    NAME: promethist-core-builder-api

document snapshot builder/api:
  extends: '.document snapshot'
  variables:
    DIR: builder/api
    NAME: promethist-core-builder-api
  only:
    changes:
      - builder/api/**/*

#
# client/standalone
#
distribute client client/standalone:
  extends: '.distribute java client'
  variables:
    DIR: client/standalone
    NAME: promethist
  only:
    changes:
      - client/**/*
      - common/**/*

CORE-23 vocative fixes
  app/src/main/resources/dialogue/vocative_cs.txt
Due: document snapshot app

FIX value type control can must be disabled for programmatically created contextual attribute delegates used by sequence attribute delegates
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/AttributeDelegate.kt
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/EntitySequenceAttributeDelegate.kt
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/MapAttributeDelegate.kt
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/NamedEntityListAttributeDelegate.kt
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/NamedEntitySetAttributeDialogue.kt
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/SequenceAttribute.kt
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/StringSequenceAttributeDelegate.kt
Due: document snapshot app

FEAT: code cleanup
  lib/src/main/kotlin/org/promethist/core/model/Session.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/Helpers.kt
Due: document snapshot lib

FEAT: DynamoDb integration - turns outside of session
  lib/src/main/kotlin/org/promethist/core/model/Turn.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/Helpers.kt
Due: document snapshot lib

FEAT: minor code cleanup
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/AbstractHandler.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
Due: none

FEAT: DynamoDb integration
  common/app/pom.xml
  common/app/src/main/kotlin/org/promethist/common/query/DynamoDbFiltersFactory.kt
  lib/src/main/kotlin/org/promethist/core/model/DialogueEvent.kt
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/AbstractHandler.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/EntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/EventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/SessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/DialogueEventResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
Due: document snapshot lib, distribute client client/standalone

FEAT: changed dynamodb table names
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
Due: none

FEAT: DynamoDb integration - query between times
  client/lib/src/main/kotlin/org/promethist/client/BotClient.kt
  common/app/src/main/kotlin/org/promethist/common/query/DynamoDbFiltersFactory.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
Due: distribute client client/standalone

FIX: DynamoDb integration - last turn when saving session, profile is not using scan
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
Due: none

FEAT: Added mongo repository bindings
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
Due: none

Reverted accidental commit
  client/lib/src/main/kotlin/org/promethist/client/BotClient.kt
Due: distribute client client/standalone

FEAT: modified dynamo session repository
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
Due: none

Code cleanup
  common/app/src/main/kotlin/org/promethist/common/query/DynamoDbFiltersFactory.kt
Due: distribute client client/standalone

illusionist-training.promethist.com -> illusionist.promethist.com/training
  builder/app/src/main/kotlin/org/promethist/core/builder/BuilderApplication.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/IllusionistModelBuilder.kt
Due: none

Selecting correct localhost port for illusionist training
  builder/app/src/main/kotlin/org/promethist/core/builder/IllusionistModelBuilder.kt
Due: none

Fix attribute type checking
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/AttributeDelegate.kt
Due: document snapshot app

CORE-28 speech smart random; FIX attribute value type mishmash (class inheritance support)
  app/src/main/kotlin/org/promethist/core/dialogue/DateTimeExtensions.kt
  app/src/main/kotlin/org/promethist/core/dialogue/DescriptiveExtensions.kt
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/AttributeDelegate.kt
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/EntitySequenceAttributeDelegate.kt
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/MapAttributeDelegate.kt
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/NamedEntityListAttributeDelegate.kt
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/NamedEntitySetAttributeDialogue.kt
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/StringSequenceAttributeDelegate.kt
  lib/src/main/kotlin/org/promethist/core/dialogue/AbstractDialogue.kt
  lib/src/main/kotlin/org/promethist/core/dialogue/DateTimeExtensions.kt
  lib/src/main/kotlin/org/promethist/core/dialogue/attribute/SequenceAttribute.kt
  lib/src/main/kotlin/org/promethist/core/language/English.kt
Due: document snapshot lib, document snapshot app

APP-8: Refactor RestClient, rename method instance -> resource
  app/src/main/kotlin/org/promethist/core/filters/AuthenticationFilter.kt
  common/app/src/main/kotlin/org/promethist/common/ResourceBinder.kt
  common/client/src/main/kotlin/org/promethist/common/RestClient.kt
  runner/app/src/main/kotlin/org/promethist/core/BotCore.kt
Due: document snapshot app, distribute client client/standalone

APP-8: Core access authorization.
  common/app/src/main/kotlin/org/promethist/common/filters/AbstractAuthenticationFilter.kt
  common/app/src/main/kotlin/org/promethist/common/filters/AuthorizationFilter.kt
  common/app/src/main/kotlin/org/promethist/common/security/AbstractTokenAdapter.kt
  common/app/src/main/kotlin/org/promethist/common/security/ApiKeyAuthorizationAdapter.kt
  common/app/src/main/kotlin/org/promethist/common/security/AuthorizationAdapter.kt
  common/app/src/main/kotlin/org/promethist/common/security/Authorized.kt
  common/app/src/main/kotlin/org/promethist/common/security/JwtAccessTokenAdapter.kt
  common/app/src/main/kotlin/org/promethist/common/security/NoAuthorizationAdapter.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/CommunityResource.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/CoreResource.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/DevicePairingResource.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/DialogueEventResource.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/FileResource.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/ProfileResource.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/ReportResource.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/SessionResource.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/CommunityResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/DevicePairingResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/DialogueEventResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/FileResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/ProfileResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/ReportResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
Due: document snapshot runner/api, distribute client client/standalone

APP-8: Fixes
  builder/app/src/main/kotlin/org/promethist/core/builder/BuilderApplication.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/resources/BuilderResourceImpl.kt
  common/app/src/main/kotlin/org/promethist/common/ResourceBinder.kt
  common/app/src/main/kotlin/org/promethist/common/filters/AuthorizationFilter.kt
Due: distribute client client/standalone

support for IVA alternative voices
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/AttributeDelegate.kt
  lib/src/main/kotlin/org/promethist/core/Response.kt
  lib/src/main/kotlin/org/promethist/core/model/Card.kt
  lib/src/main/kotlin/org/promethist/core/model/TtsConfig.kt
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/AmazonAlexaHandler.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/CancelAndStopIntentHandler.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/FallbackIntentHandler.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/HelpIntentHandler.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/LaunchRequestHandler.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/MessageIntentHandler.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/SessionEndedRequestHandler.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/google/GoogleAssistantApp.kt
  runner/app/src/main/kotlin/org/promethist/core/servlets/AmazonAlexaServlet.kt
  runner/app/src/main/kotlin/org/promethist/core/servlets/GoogleAssistantServlet.kt
Due: document snapshot lib, document snapshot app

FIX TtsConfig constructor for backward compatibility
  lib/src/main/kotlin/org/promethist/core/model/TtsConfig.kt
Due: document snapshot lib

improvements of support for IVA alternative voices
  lib/src/main/kotlin/org/promethist/core/Response.kt
  lib/src/main/kotlin/org/promethist/core/model/TtsConfig.kt
Due: document snapshot lib

APP-156 standalone client not working in text only mode
  client/standalone/src/main/kotlin/org/promethist/client/standalone/cli/ClientCommand.kt
Due: distribute client client/standalone

Exceptions during attribute deserialization are logger as a warning; attributes is replaced by the default value
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/AttributeDelegate.kt
  lib/src/main/kotlin/org/promethist/core/type/Memorable.kt
Due: document snapshot lib, document snapshot app

FEAT: DynamoDb integration - unifying code
  runner/app/src/main/kotlin/org/promethist/core/repository/EntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/EventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/SessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/DialogueEventResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/ProfileResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
Due: none

APP-169 Allow to select Google STT model
  lib/src/main/kotlin/org/promethist/core/model/SttConfig.kt
  runner/app/src/main/kotlin/org/promethist/core/socket/BotCallSocketAdapter.kt
  runner/app/src/main/kotlin/org/promethist/core/stt/GoogleSttService.kt
Due: document snapshot lib

FEAT: minor code cleanup
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/AmazonAlexaHandler.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
Due: none

FEAT: DynamoDb integration
  common/app/pom.xml
  common/app/src/main/kotlin/org/promethist/common/query/DynamoDbFiltersFactory.kt
  lib/src/main/kotlin/org/promethist/core/model/DialogueEvent.kt
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/AmazonAlexaHandler.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/EntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/EventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/SessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/DialogueEventResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
Due: document snapshot lib, distribute client client/standalone
