Repository flowstorm/core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: document snapshot api, document snapshot app, document snapshot service/api, distribute client client/standalone

document snapshot api:
  stage: document
  image: registry.promethist.ai/common/system/builder
  variables:
    DIR: ..
    NAME: core-api
  script:
  - cd $DIR
  - mvn dokka:dokka
  - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/develop/site/default/apidoc/

document snapshot app:
  stage: document
  image: registry.promethist.ai/common/system/builder
  variables:
    DIR: ..
    NAME: core-app
  script:
  - cd $DIR
  - mvn dokka:dokka
  - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/develop/site/default/apidoc/

document snapshot service/api:
  stage: document
  image: registry.promethist.ai/common/system/builder
  variables:
    DIR: service/api
    NAME: core-service-api
  script:
  - cd $DIR
  - mvn dokka:dokka
  - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/develop/site/default/apidoc/

distribute client client/standalone:
  stage: distribute
  image: registry.promethist.ai/common/system/builder
  variables:
    DIR: client/standalone
    NAME: promethist
  script:
  - cd $DIR
  - mvn -B package
  - cp target/$NAME.jar /ext/cluster/default/default/repository/dist/$NAME-$CI_COMMIT_REF_NAME.jar

Clean-up bindings, refactor monitoring.
  service/app/src/main/kotlin/com/promethist/core/CoreApplication.kt
  service/app/src/main/kotlin/com/promethist/core/context/ContextPersister.kt
  service/app/src/main/kotlin/com/promethist/core/handlers/alexa/AbstractHandler.kt
  service/app/src/main/kotlin/com/promethist/core/monitoring/AbstractMonitor.kt
  service/app/src/main/kotlin/com/promethist/core/monitoring/Monitor.kt
  service/app/src/main/kotlin/com/promethist/core/monitoring/Sentry.kt
  service/app/src/main/kotlin/com/promethist/core/monitoring/StdOutMonitor.kt
  service/app/src/main/kotlin/com/promethist/core/resources/CoreResourceImpl.kt
  service/app/src/main/kotlin/com/promethist/core/socket/AbstractBotSocketAdapter.kt
  service/app/src/main/kotlin/com/promethist/core/socket/BotClientSocketAdapter.kt
Due: none

signal processing improvements; service app Dockerfile moved from root to module
  Dockerfile
  app/src/main/kotlin/com/promethist/core/runtime/DialogueManager.kt
  client/lib/src/main/kotlin/com/promethist/client/signal/SignalConfigurableProvider.kt
  client/lib/src/main/kotlin/com/promethist/client/signal/SignalFileProvider.kt
  client/lib/src/main/kotlin/com/promethist/client/signal/SignalProcessor.kt
  client/standalone/src/main/kotlin/com/promethist/client/standalone/DeviceClientCallback.kt
  client/standalone/src/main/kotlin/com/promethist/client/standalone/cli/ClientCommand.kt
  service/app/Dockerfile
  service/app/pom.xml
Due: document snapshot app, distribute client client/standalone

Remove unused class.
  service/app/src/main/kotlin/com/promethist/core/Monitoring.kt
  service/app/src/main/kotlin/com/promethist/core/context/ContextPersister.kt
Due: none

PAI-461: Improve string reprezentation of Node.
  lib/src/main/kotlin/com/promethist/core/dialogue/AbstractDialogue.kt
Due: none

FIX ContextPersister package
  service/app/src/main/kotlin/org/promethist/core/context/ContextPersister.kt
Due: none

messaging package
  app/src/main/kotlin/org/promethist/core/runtime/DialogueLoadTest.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueRunner.kt
  common/app/src/main/kotlin/org/promethist/common/messaging/DummySender.kt
  common/app/src/main/kotlin/org/promethist/common/messaging/MailgunSender.kt
  common/lib/src/main/kotlin/org/promethist/common/messaging/MessageSender.kt
  lib/src/main/kotlin/org/promethist/core/Context.kt
  service/app/src/main/kotlin/org/promethist/core/CoreApplication.kt
  service/app/src/main/kotlin/org/promethist/core/context/ContextFactory.kt
Due: document snapshot app, distribute client client/standalone

sender replaced by deviceId; ContentDistributionResource returns device
  app/src/main/kotlin/org/promethist/core/runtime/DialogueLoadTest.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueRunner.kt
  client/lib/src/main/kotlin/org/promethist/client/BotClient.kt
  client/lib/src/main/kotlin/org/promethist/client/BotContext.kt
  client/lib/src/main/kotlin/org/promethist/client/BotEvent.kt
  client/standalone/src/main/kotlin/org/promethist/client/standalone/cli/CallCommand.kt
  client/standalone/src/main/kotlin/org/promethist/client/standalone/cli/ClientCommand.kt
  lib/src/main/kotlin/org/promethist/core/Request.kt
  lib/src/main/kotlin/org/promethist/core/model/Session.kt
  service/api/src/main/kotlin/org/promethist/core/resources/ContentDistributionResource.kt
  service/app/src/main/kotlin/org/promethist/core/BotCore.kt
  service/app/src/main/kotlin/org/promethist/core/CoreApplication.kt
  service/app/src/main/kotlin/org/promethist/core/handlers/alexa/MessageIntentHandler.kt
  service/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
  service/app/src/main/kotlin/org/promethist/core/socket/AbstractBotSocketAdapter.kt
  service/app/src/main/kotlin/org/promethist/core/socket/BotCallSocketAdapter.kt
  service/app/src/main/kotlin/org/promethist/core/socket/BotClientSocketAdapter.kt
Due: document snapshot app, document snapshot service/api, distribute client client/standalone

PAI-466: Rename core resources.
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/CommunityAttributeDelegate.kt
  app/src/main/kotlin/org/promethist/core/runtime/SimpleCommunityStorage.kt
  lib/src/main/kotlin/org/promethist/core/model/Report.kt
  lib/src/main/kotlin/org/promethist/core/repository/CommunityRepository.kt
  service/api/src/main/kotlin/org/promethist/core/resources/CommunityResource.kt
  service/app/src/main/kotlin/org/promethist/core/resources/CommunityResourceImpl.kt
  service/app/src/main/kotlin/org/promethist/core/resources/ReportResourceImpl.kt
Due: document snapshot app, document snapshot service/api

PAI-466: Introduce Space in core
  lib/src/main/kotlin/org/promethist/core/model/Session.kt
  lib/src/main/kotlin/org/promethist/core/model/Space.kt
  lib/src/main/kotlin/org/promethist/core/model/SpaceImpl.kt
  service/api/src/main/kotlin/org/promethist/core/resources/ContentDistributionResource.kt
  service/app/src/main/kotlin/org/promethist/core/CoreApplication.kt
Due: document snapshot service/api

PAI-466: Add NullId as a null object - for bc compatibility
  lib/src/main/kotlin/org/promethist/core/model/NullId.kt
Due: none

fix, session.deevice needs to be nullable for BC
  lib/src/main/kotlin/org/promethist/core/model/Session.kt
Due: none

PAI-466: Refactored communities, rename organization_id to space_id
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/CommunityAttributeDelegate.kt
  app/src/main/kotlin/org/promethist/core/runtime/SimpleCommunityStorage.kt
  lib/src/main/kotlin/org/promethist/core/model/Community.kt
  service/app/src/main/kotlin/org/promethist/core/resources/CommunityResourceImpl.kt
Due: document snapshot app

Changed exception handling
  service/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
Due: none

PAI-466: Add property Session.space_id and fix reports.
  app/src/main/kotlin/org/promethist/core/dialogue/BasicDialogue.kt
  lib/src/main/kotlin/org/promethist/core/model/Session.kt
  service/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
  service/app/src/main/kotlin/org/promethist/core/resources/ReportResourceImpl.kt
Due: document snapshot app

PAI-466: Add space_id to DialogueEvent.
  lib/src/main/kotlin/org/promethist/core/model/DialogueEvent.kt
  service/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
Due: none

Ignore out-of-domain when no ood action is defined
  app/src/main/kotlin/org/promethist/core/runtime/DialogueManager.kt
  service/app/src/main/kotlin/org/promethist/core/nlp/Illusionist.kt
Due: document snapshot app

Clean up, rename constant.
  service/app/src/main/kotlin/org/promethist/core/nlp/Illusionist.kt
Due: none

Use dsuffix in GoogleStorage.
  service/app/src/main/kotlin/org/promethist/core/CoreApplication.kt
  service/app/src/main/kotlin/org/promethist/core/storage/GoogleStorage.kt
Due: none

Cleanup, rename DummySender, make some services singletons
  app/src/main/kotlin/org/promethist/core/runtime/DialogueLoadTest.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueManager.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueRunner.kt
  common/app/src/main/kotlin/org/promethist/common/messaging/StdOutSender.kt
  service/app/src/main/kotlin/org/promethist/core/CoreApplication.kt
Due: document snapshot app, distribute client client/standalone

Fix imports.
  app/src/main/kotlin/org/promethist/core/runtime/DialogueManager.kt
Due: document snapshot app

Fix dsuffix.
  service/app/src/main/kotlin/org/promethist/core/CoreApplication.kt
Due: none

Clean up: binder - use lib function instead of our own.
  common/app/src/main/kotlin/org/promethist/common/ResourceBinder.kt
  service/app/src/main/kotlin/org/promethist/core/CoreApplication.kt
Due: distribute client client/standalone

client logic update
  client/lib/src/main/kotlin/org/promethist/client/BotClient.kt
  service/app/src/main/kotlin/org/promethist/core/handlers/alexa/AbstractHandler.kt
Due: distribute client client/standalone

Alexa device ID mapping + APL basic support
  client/lib/src/main/kotlin/org/promethist/client/BotClient.kt
  service/app/src/main/kotlin/org/promethist/core/handlers/alexa/AbstractHandler.kt
Due: distribute client client/standalone

user agreement date added
  lib/src/main/kotlin/org/promethist/core/model/Space.kt
  lib/src/main/kotlin/org/promethist/core/model/User.kt
Due: none

PAI-469: Add dependecy to allow async processing in servlet.
  common/app/pom.xml
Due: distribute client client/standalone

FIX core services main classes + builder info method added
  builder/api/src/main/kotlin/org/promethist/core/builder/resources/BuilderResource.kt
  builder/app/pom.xml
  builder/app/src/main/kotlin/org/promethist/core/builder/BuilderApplication.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/resources/BuilderResourceImpl.kt
  common/app/src/main/kotlin/org/promethist/common/JerseyApplication.kt
  runner/app/pom.xml
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
Due: distribute client client/standalone

Persist profiles per space.
  app/src/main/kotlin/org/promethist/core/runtime/DialogueLoadTest.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueRunner.kt
  lib/src/main/kotlin/org/promethist/core/model/Profile.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/ProfileResource.kt
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
  runner/app/src/main/kotlin/org/promethist/core/context/ContextFactory.kt
  runner/app/src/main/kotlin/org/promethist/core/context/ContextPersister.kt
  runner/app/src/main/kotlin/org/promethist/core/profile/MongoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/profile/ProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/EntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/ProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/AbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/ProfileResourceImpl.kt
Due: document snapshot app

import of JerseyApplication class
  common/app/src/main/kotlin/org/promethist/common/resources/CheckResource.kt
Due: distribute client client/standalone

log formatting tuning
  app/src/main/kotlin/org/promethist/core/runtime/AbstractLoader.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueClassLoader.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueFactory.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueManager.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueRunner.kt
  app/src/main/kotlin/org/promethist/core/runtime/FileResourceLoader.kt
  client/common/src/main/kotlin/org/promethist/client/audio/SnowboyWakeWordDetector.kt
  client/common/src/main/kotlin/org/promethist/client/common/BotClientSocket.kt
  client/common/src/main/kotlin/org/promethist/client/common/OkHttp3BotClientSocket.kt
  client/common/src/main/kotlin/org/promethist/client/util/HttpUtil.kt
  client/common/src/main/kotlin/org/promethist/client/util/InputAudioDevice.kt
  client/lib/src/main/kotlin/org/promethist/client/BotClient.kt
  client/lib/src/main/kotlin/org/promethist/client/signal/SignalConfigurableProvider.kt
  client/lib/src/main/kotlin/org/promethist/client/signal/SignalFileProvider.kt
  client/lib/src/main/kotlin/org/promethist/client/signal/SignalProcessProvider.kt
  client/lib/src/main/kotlin/org/promethist/client/signal/SignalProcessor.kt
  client/lib/src/main/kotlin/org/promethist/client/signal/SignalSocketProvider.kt
  client/lib/src/main/kotlin/org/promethist/client/signal/SignalUrlProvider.kt
  client/standalone/src/main/kotlin/org/promethist/client/client/JwsBotClientSocket.kt
  client/standalone/src/main/kotlin/org/promethist/client/standalone/DeviceClientCallback.kt
  client/standalone/src/main/kotlin/org/promethist/client/standalone/JarUpdater.kt
  common/lib/src/main/kotlin/org/promethist/common/AppConfig.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/AbstractHandler.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/google/PromethistApp.kt
  runner/app/src/main/kotlin/org/promethist/core/nlp/Cassandra.kt
  runner/app/src/main/kotlin/org/promethist/core/nlp/Duckling.kt
  runner/app/src/main/kotlin/org/promethist/core/nlp/Illusionist.kt
  runner/app/src/main/kotlin/org/promethist/core/nlp/InternalTokenizer.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/socket/AbstractBotSocketAdapter.kt
  runner/app/src/main/kotlin/org/promethist/core/socket/BotCallSocketAdapter.kt
  runner/app/src/main/kotlin/org/promethist/core/socket/BotClientSocketAdapter.kt
  runner/app/src/main/kotlin/org/promethist/core/tts/GoogleTtsService.kt
  runner/app/src/main/kotlin/org/promethist/core/tts/TtsAudioService.kt
Due: document snapshot app, distribute client client/standalone

AmazonS3Storage: metadata keys in S3 are treated case-insensitively
  service/app/src/main/kotlin/com/promethist/core/storage/AmazonS3Storage.kt
Due: none

AmazonS3Storage: added dependency to pom.xml
  pom.xml
  runner/app/pom.xml
Due: none

Added AmazonS3Storage
  service/app/src/main/kotlin/com/promethist/core/storage/AmazonS3Storage.kt
Due: none

Closing S3 connection
  service/app/src/main/kotlin/org/promethist/core/storage/AmazonS3Storage.kt
Due: none

Added config option for the AmazonS3 storage
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
Due: none

Change S3 buffer size to 5MB (S3 does not allows splitting to smaller parts)
  service/app/src/main/kotlin/com/promethist/core/storage/AmazonS3Storage.kt
Due: none

Moved AmazonS3 class to org package
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
  service/app/src/main/kotlin/org/promethist/core/storage/AmazonS3Storage.kt
Due: none

Path conditions:
  document snapshot api: any of: api/**/*
  document snapshot app: any of: app/**/*
  document snapshot service/api: any of: service/api/**/*
  distribute client client/standalone: any of: client/**/*, common/**/*
