Repository flowstorm/core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package chart runner, package chart builder, package chart triton, build release runner/app, build snapshot runner/app, build release builder/app, build snapshot builder/app, distribute client client/standalone, document snapshot lib, document snapshot app, document snapshot runner/api, document snapshot builder/api

Path conditions:
  package chart runner: any of: deploy/runner/**/*
  package chart builder: any of: deploy/builder/**/*
  package chart triton: any of: deploy/triton/**/*
  build release runner/app: any of: runner/app/**/*
  build snapshot runner/app: any of: runner/app/**/*
  build release builder/app: any of: builder/app/**/*
  build snapshot builder/app: any of: builder/app/**/*
  distribute client client/standalone: any of: client/**/*, common/**/*
  document snapshot lib: any of: lib/**/*
  document snapshot app: any of: app/**/*
  document snapshot runner/api: any of: runner/api/**/*
  document snapshot builder/api: any of: builder/api/**/*

CI tuning
  .gitlab-ci.yml
  common/app/src/main/kotlin/ai/flowstorm/common/JerseyApplication.kt
  common/app/src/main/kotlin/ai/flowstorm/common/resources/Check.kt
  common/app/src/main/kotlin/ai/flowstorm/common/resources/CheckResource.kt
  common/lib/src/main/kotlin/ai/flowstorm/common/AppConfig.kt
  deploy/builder/templates/statefulset.yaml
  deploy/builder/values.yaml
  deploy/runner/templates/statefulset.yaml
Due: package chart runner, package chart builder, distribute client client/standalone

Removed singleton scope from PipelineFactory, PipelineRuntime, ContextFactory and ContextPersister
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
Due: build release runner/app, build snapshot runner/app

Dialogue_id based on dialogue stack is saved in the Turn object
  runner/app/src/main/kotlin/ai/flowstorm/core/runtime/ContextFactory.kt
Due: build release runner/app, build snapshot runner/app

Triton in 2 replicas
  deploy/triton/templates/statefulset.yaml
  deploy/triton/values.yaml
Due: package chart triton

CI update
  .gitlab-ci.yml
  common/app/src/main/kotlin/ai/flowstorm/common/resources/Check.kt
  common/app/src/main/kotlin/ai/flowstorm/common/resources/CheckResource.kt
  deploy/builder/templates/deployment.yaml
  deploy/builder/values.yaml
  deploy/runner/templates/deployment.yaml
  deploy/runner/values.yaml
  deploy/triton/templates/deployment.yaml
Due: package chart runner, package chart builder, package chart triton, distribute client client/standalone

CI tuning
  .gitlab-ci.yml
  deploy/builder/Chart.yaml
  deploy/builder/templates/configmap.yaml
  deploy/builder/templates/service.yaml
  deploy/builder/templates/statefulset.yaml
  deploy/builder/values.yaml
  deploy/runner/Chart.yaml
  deploy/runner/templates/configmap.yaml
  deploy/runner/templates/ingress.yaml
  deploy/runner/templates/service.yaml
  deploy/runner/templates/statefulset.yaml
  deploy/runner/values.yaml
  deploy/triton/Chart.yaml
  deploy/triton/templates/ingress.yaml
  deploy/triton/templates/service.yaml
  deploy/triton/templates/statefulset.yaml
  deploy/triton/values.yaml
Due: package chart runner, package chart builder, package chart triton

CI update
  .gitlab-ci.yml
  deploy/builder/values.yaml
  deploy/runner/values.yaml
Due: package chart runner, package chart builder

CI update
  deploy/builder/templates/deployment.yaml
  deploy/runner/templates/deployment.yaml
  deploy/triton/templates/deployment.yaml
Due: package chart runner, package chart builder, package chart triton

CI FIX
  builder/app/src/main/kotlin/ai/flowstorm/core/builder/BuilderApplication.kt
  deploy/builder/templates/deployment.yaml
  deploy/runner/templates/deployment.yaml
  deploy/triton/templates/deployment.yaml
Due: package chart runner, package chart builder, package chart triton, build release builder/app, build snapshot builder/app

preferred affinity instead of required
  deploy/builder/templates/deployment.yaml
  deploy/runner/templates/deployment.yaml
Due: package chart runner, package chart builder

update
  .gitlab-ci.yml
  deploy/builder/templates/deployment.yaml
  deploy/runner/templates/deployment.yaml
  deploy/triton/templates/deployment.yaml
Due: package chart runner, package chart builder, package chart triton

App 257 issue deployment automation (#15)
  .gitlab-ci.yml
  builder/app/src/main/kotlin/ai/flowstorm/core/builder/BuilderApplication.kt
  deploy/builder/templates/deployment.yaml
  deploy/runner/templates/deployment.yaml
  deploy/triton/templates/deployment.yaml
Due: package chart runner, package chart builder, package chart triton, build release builder/app, build snapshot builder/app

update
  .gitlab-ci.yml
  builder/api/pom.xml
  runner/api/pom.xml
Due: document snapshot runner/api, document snapshot builder/api

update
  lib/src/main/kotlin/ai/flowstorm/core/tts/TtsProvider.kt
  lib/src/main/kotlin/ai/flowstorm/core/tts/TtsResponse.kt
  runner/api/src/main/kotlin/ai/flowstorm/core/resources/TtsResource.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/resources/TtsResourceImpl.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/runtime/PipelineFactory.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/socket/AbstractBotSocketAdapter.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/AmazonTtsProvider.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/GoogleTtsProvider.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/MicrosoftTtsProvider.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsAudioFile.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsAudioFileService.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsService.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsServiceFactory.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/VoiceryTtsProvider.kt
Due: build release runner/app, build snapshot runner/app, document snapshot lib, document snapshot runner/api

CORE-33: Implement ConfigValueInjectionResolver, allow to inject Config and ConfigValue
  builder/app/src/main/kotlin/ai/flowstorm/core/builder/BuilderApplication.kt
  common/app/src/main/kotlin/ai/flowstorm/common/JerseyApplication.kt
  common/app/src/main/kotlin/ai/flowstorm/common/config/ConfigValue.kt
  common/app/src/main/kotlin/ai/flowstorm/common/config/ConfigValueInjectionResolver.kt
  common/lib/src/main/kotlin/ai/flowstorm/common/AppConfig.kt
  common/lib/src/main/kotlin/ai/flowstorm/common/config/Config.kt
  common/lib/src/main/kotlin/ai/flowstorm/common/config/PropertiesFileConfig.kt
  common/lib/src/test/kotlin/ai/flowstorm/common/AppConfigTest.kt
  common/lib/src/test/kotlin/ai/flowstorm/common/config/ConfigTest.kt
  common/lib/src/test/kotlin/ai/flowstorm/common/config/PropertiesFileConfigTest.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
Due: build release runner/app, build snapshot runner/app, build release builder/app, build snapshot builder/app, distribute client client/standalone

CORE-33: Allow default value for ConfigValue, throw exception when key is missing.
  common/app/src/main/kotlin/ai/flowstorm/common/config/ConfigValue.kt
  common/app/src/main/kotlin/ai/flowstorm/common/config/ConfigValueInjectionResolver.kt
Due: distribute client client/standalone

CORE-33: Replace static acces to AppConfig by injection where possible.
  builder/app/src/main/kotlin/ai/flowstorm/core/builder/DialogueBuilder.kt
  common/app/src/main/kotlin/ai/flowstorm/common/repository/DynamoAbstractEntityRepository.kt
  common/app/src/main/kotlin/ai/flowstorm/common/resources/CheckResource.kt
  common/app/src/main/kotlin/ai/flowstorm/common/resources/SwaggerResource.kt
  common/app/src/main/kotlin/ai/flowstorm/common/resources/ThrowableMapper.kt
  common/app/src/main/kotlin/ai/flowstorm/common/security/ApiKeyAuthorizationAdapter.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/storage/AmazonS3Storage.kt
Due: build release runner/app, build snapshot runner/app, build release builder/app, build snapshot builder/app, distribute client client/standalone

CORE-33: Deprecate AppConfig::instance
  common/lib/src/main/kotlin/ai/flowstorm/common/AppConfig.kt
Due: distribute client client/standalone

CORE-33: Move elastic and mongo client into factories to allow injecitng config.
  common/app/src/main/kotlin/ai/flowstorm/common/binding/MongoDatabaseFactory.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/binding/ElasticClientFactory.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/runtime/ContextPersister.kt
Due: build release runner/app, build snapshot runner/app, distribute client client/standalone

CORE-33: Fix imports
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
Due: build release runner/app, build snapshot runner/app

support for APP_OPTIONS
  builder/app/Dockerfile
  common/lib/src/main/kotlin/ai/flowstorm/common/AppConfig.kt
  deploy/builder/templates/deployment.yaml
  deploy/builder/values.yaml
  deploy/runner/templates/deployment.yaml
  deploy/runner/values.yaml
  runner/app/Dockerfile
Due: package chart runner, package chart builder, build release runner/app, build snapshot runner/app, build release builder/app, build snapshot builder/app, distribute client client/standalone

APP-198: Added dialogue version to log
  app/src/main/kotlin/ai/flowstorm/core/runtime/DialogueManager.kt
Due: document snapshot app

APP-206: Changed log
  app/src/main/kotlin/ai/flowstorm/core/runtime/DialogueManager.kt
Due: document snapshot app

exception handling moved out of call thread to prevent InterruptedException in MongoDB client when called from finally block
  runner/app/src/main/kotlin/ai/flowstorm/core/runtime/PipelineRuntime.kt
Due: build release runner/app, build snapshot runner/app

CI FIX - packaging of snapshot artifacts on master branch
  .gitlab-ci.yml
Due: none

FIX reponse text item formatting must not be applied to #commands
  lib/src/main/kotlin/ai/flowstorm/core/model/Turn.kt
Due: document snapshot lib

SSML detection added
  runner/app/src/main/kotlin/ai/flowstorm/core/resources/TtsResourceImpl.kt
Due: build release runner/app, build snapshot runner/app

update
  common/app/src/main/kotlin/ai/flowstorm/common/monitoring/SentryMonitor.kt
Due: distribute client client/standalone

update
  common/app/src/main/kotlin/ai/flowstorm/common/monitoring/SentryMonitor.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
Due: build release runner/app, build snapshot runner/app, distribute client client/standalone

default 'hello world' app key
  client/standalone/src/main/kotlin/ai/flowstorm/client/standalone/cli/ClientConfig.kt
Due: distribute client client/standalone
