Repository flowstorm/core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: document snapshot lib, document snapshot app, document snapshot runner/api, document snapshot builder/api, distribute client client/standalone

.gitlab-ci.yml:

stages:
  - build
  - distribute
  - document

#
# JOB TEMPLATES
#
# .distribute
#
.distribute java client:
  stage: distribute
  image: registry.gitlab.com/promethist/system/builder
  variables:
    DIR: client/XXX
    NAME: NAME
  only:
    refs:
      - develop
      - tags
  script:
    - cd $DIR
    - mvn -B package # maybe useless - should be already packaged by build job
    - cp target/$NAME.jar /ext/cluster/default/default/repository/dist/$NAME-$CI_COMMIT_REF_NAME.jar

#
# .document
#
.document release:
  stage: document
  image: registry.gitlab.com/promethist/system/builder
  variables:
    DIR: api
    NAME: NAME
  only:
    refs:
      - tags
  except:
    - /^(!master).+@/
  script:
    - cd $DIR
    - mvn dokka:dokka
    - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/default/site/default/apidoc/

.document snapshot:
  stage: document
  image: registry.gitlab.com/promethist/system/builder
  variables:
    DIR: api
    NAME: NAME
  only:
    refs:
      - develop
  script:
    - cd $DIR
    - mvn dokka:dokka
    - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/develop/site/default/apidoc/

#
# JOBS
#
# build all release packages
#
build release packages:
  stage: build
  image: registry.gitlab.com/promethist/system/builder
  only:
    refs:
      - tags
  except:
    - /^(!master).+@/
  artifacts:
    untracked: true
  script:
    - mvn -B versions:set -DnewVersion=$CI_COMMIT_REF_NAME
    - mvn -B deploy -Dapi.basedomain=promethist.com

#
# build all snaphot packages
#
build snaphot packages:
  stage: build
  image: registry.gitlab.com/promethist/system/builder
  only:
    refs:
      - develop
  artifacts:
    untracked: true
  script:
    - mvn -B deploy -Dapi.basedomain=develop.promethist.com

#
# lib
#
document release lib:
  extends: '.document release'
  variables:
    DIR: lib
    NAME: promethist-core-lib

document snapshot lib:
  extends: '.document snapshot'
  variables:
    DIR: lib
    NAME: promethist-core-lib
  only:
    changes:
      - lib/**/*

#
# app
#
document release app:
  extends: '.document release'
  variables:
    DIR: app
    NAME: promethist-core-app

document snapshot app:
  extends: '.document snapshot'
  variables:
    DIR: app
    NAME: promethist-core-app
  only:
    changes:
      - app/**/*

#
# runner/api
#
document release runner/api:
  extends: '.document release'
  variables:
    DIR: runner/api
    NAME: promethist-core-runner-api

document snapshot runner/api:
  extends: '.document snapshot'
  variables:
    DIR: runner/api
    NAME: promethist-core-runner-api
  only:
    changes:
      - runner/api/**/*

#
# builder/api
#
document release builder/api:
  extends: '.document release'
  variables:
    DIR: builder/api
    NAME: promethist-core-builder-api

document snapshot builder/api:
  extends: '.document snapshot'
  variables:
    DIR: builder/api
    NAME: promethist-core-builder-api
  only:
    changes:
      - builder/api/**/*

#
# client/standalone
#
distribute client client/standalone:
  extends: '.distribute java client'
  variables:
    DIR: client/standalone
    NAME: promethist
  only:
    changes:
      - client/**/*
      - common/**/*

FEAT: changed dynamodb table names
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
Due: none

Reverted accidental commit
  client/lib/src/main/kotlin/org/promethist/client/BotClient.kt
Due: distribute client client/standalone

Code cleanup
  common/app/src/main/kotlin/org/promethist/common/query/DynamoDbFiltersFactory.kt
Due: distribute client client/standalone

FEAT: DynamoDb integration - unifying code
  runner/app/src/main/kotlin/org/promethist/core/repository/EntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/EventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/SessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/DialogueEventResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/ProfileResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
Due: none

FEAT: DynamoDb integration - query between times
  client/lib/src/main/kotlin/org/promethist/client/BotClient.kt
  common/app/src/main/kotlin/org/promethist/common/query/DynamoDbFiltersFactory.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
Due: distribute client client/standalone

FIX: "get" in resource is "find" in repository
  runner/app/src/main/kotlin/org/promethist/core/repository/SessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
Due: none

Exceptions during attribute deserialization are logger as a warning; attributes is replaced by the default value
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/AttributeDelegate.kt
  lib/src/main/kotlin/org/promethist/core/type/Memorable.kt
Due: document snapshot lib, document snapshot app

improved normalized entity resource implementation
  common/app/src/main/kotlin/org/promethist/common/resources/EntityResourceBase.kt
  common/lib/src/main/kotlin/org/promethist/common/model/Entity.kt
  common/lib/src/main/kotlin/org/promethist/common/model/TimeEntity.kt
  lib/src/main/kotlin/org/promethist/core/model/Application.kt
  lib/src/main/kotlin/org/promethist/core/model/Device.kt
  lib/src/main/kotlin/org/promethist/core/model/DialogueEvent.kt
  lib/src/main/kotlin/org/promethist/core/model/Profile.kt
  lib/src/main/kotlin/org/promethist/core/model/Session.kt
  lib/src/main/kotlin/org/promethist/core/model/Space.kt
  lib/src/main/kotlin/org/promethist/core/model/User.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/DialogueEventResource.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/SessionResource.kt
  runner/app/src/main/kotlin/org/promethist/core/context/ContextPersister.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/EntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/AbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/DialogueEventResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/stt/GoogleSttService.kt
Due: document snapshot lib, document snapshot runner/api, distribute client client/standalone

Entity repository clean up. Moved to common app.
  common/app/src/main/kotlin/org/promethist/common/repository/EntityRepository.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/SessionResource.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/EventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/ProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/SessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
Due: document snapshot runner/api, distribute client client/standalone

Refactored mongo entity repositories.
  common/app/src/main/kotlin/org/promethist/common/repository/EntityRepository.kt
  common/app/src/main/kotlin/org/promethist/common/repository/MongoAbstractEntityRepository.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/SessionResource.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
Due: document snapshot runner/api, distribute client client/standalone

KMongoIdParamConverted return null when param is not present.
  common/app/src/main/kotlin/org/promethist/common/mongo/KMongoIdParamConverterProvider.kt
Due: distribute client client/standalone

CORE-28 smart speech random improve; FIX session update with upsert; language TTS handling improvement for phone calls
  common/app/src/main/kotlin/org/promethist/common/resources/EntityResourceBase.kt
  lib/src/main/kotlin/org/promethist/core/dialogue/AbstractDialogue.kt
  runner/app/src/main/kotlin/org/promethist/core/nlp/Illusionist.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/socket/BotCallSocketAdapter.kt
  runner/app/src/main/kotlin/org/promethist/core/stt/GoogleSttService.kt
Due: document snapshot lib, distribute client client/standalone

Added a component connecting sentiment analysis
  lib/src/main/kotlin/org/promethist/core/Input.kt
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
  runner/app/src/main/kotlin/org/promethist/core/nlp/Sentiment.kt
Due: document snapshot lib

APP-38 turns separated from sessions
  app/src/main/kotlin/org/promethist/core/runtime/DialogueLoadTest.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueManager.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueRunner.kt
  lib/src/main/kotlin/org/promethist/core/model/Session.kt
  lib/src/main/kotlin/org/promethist/core/model/Turn.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/SessionResource.kt
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
  runner/app/src/main/kotlin/org/promethist/core/context/ContextFactory.kt
  runner/app/src/main/kotlin/org/promethist/core/context/ContextPersister.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/TurnRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoTurnRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
Due: document snapshot lib, document snapshot app, document snapshot runner/api

APP-30: Improve loading turns performance.
  runner/app/src/main/kotlin/org/promethist/core/repository/TurnRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoTurnRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
Due: none

Merge pull request #7 from PromethistAI/APP-38-turns-separated-from-sessions
  app/src/main/kotlin/org/promethist/core/runtime/DialogueLoadTest.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueManager.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueRunner.kt
  lib/src/main/kotlin/org/promethist/core/model/Session.kt
  lib/src/main/kotlin/org/promethist/core/model/Turn.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/SessionResource.kt
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
  runner/app/src/main/kotlin/org/promethist/core/context/ContextFactory.kt
  runner/app/src/main/kotlin/org/promethist/core/context/ContextPersister.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/TurnRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/mongo/MongoTurnRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
Due: document snapshot lib, document snapshot app, document snapshot runner/api

AMAZON.CancelIntent added to CancelAndStopIntentHandler
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/CancelAndStopIntentHandler.kt
Due: none

APP-168: Remove compatibility with organization_id
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/CommunityAttributeDelegate.kt
  lib/src/main/kotlin/org/promethist/core/model/Community.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/CommunityResourceImpl.kt
Due: document snapshot lib, document snapshot app

Added sentiment try-catch, enum, renamed component to Triton, and sorting by score
  lib/src/main/kotlin/org/promethist/core/Input.kt
  lib/src/main/kotlin/org/promethist/core/model/Sentiment.kt
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
  runner/app/src/main/kotlin/org/promethist/core/nlp/Sentiment.kt
  runner/app/src/main/kotlin/org/promethist/core/nlp/Triton.kt
Due: document snapshot lib

Added a component connecting sentiment analysis (#8)
  lib/src/main/kotlin/org/promethist/core/Input.kt
  lib/src/main/kotlin/org/promethist/core/model/Sentiment.kt
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
  runner/app/src/main/kotlin/org/promethist/core/nlp/Triton.kt
Due: document snapshot lib

Added triton into ServiceUrlResolver
  common/lib/src/main/kotlin/org/promethist/common/ServiceUrlResolver.kt
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
Due: distribute client client/standalone

Feature/sentiment (#12)
  common/lib/src/main/kotlin/org/promethist/common/ServiceUrlResolver.kt
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
Due: distribute client client/standalone

nlp services should be always used from the same namespace
  builder/app/src/main/kotlin/org/promethist/core/builder/DialogueBuilder.kt
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
Due: none

triton nlp service should be always used from the same namespace
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
Due: none

APP-38: Fix updating session, it should not clear turns in object in memory, but only in database.
  runner/app/src/main/kotlin/org/promethist/core/resources/SessionResourceImpl.kt
Due: none

CI update - scp deployment to promethistai
  .gitlab-ci.yml
  pom.xml
  settings.xml
Due: none

CI update - scp deployment to promethistai
  settings.xml
Due: none

CI update - scp deployment to promethistai
  .gitlab-ci.yml
Due: none

Added EntityModelBuilder interface
  builder/app/src/main/kotlin/org/promethist/core/builder/EntityModelBuilder.kt
Due: none

FEAT Entity: Added Entity dataset class
  lib/src/main/kotlin/org/promethist/core/model/EntityDataset.kt
Due: document snapshot lib

FEAT Entity: entity training in IllusionistModelBuilder
  builder/app/src/main/kotlin/org/promethist/core/builder/BuilderApplication.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/IllusionistModelBuilder.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/resources/BuilderResourceImpl.kt
Due: none

APP-105: entity train button
  builder/api/src/main/kotlin/org/promethist/core/builder/resources/BuilderResource.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/BuilderApplication.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/resources/BuilderResourceImpl.kt
Due: document snapshot builder/api

Dynamodb: implemented turn repository
  common/app/src/main/kotlin/org/promethist/common/repository/DynamoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoTurnRepository.kt
Due: distribute client client/standalone

DynamoTurnRepository: fixed seeking
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoTurnRepository.kt
Due: none

Turn: added alias sessionId for dynamodb compatibility
  lib/src/main/kotlin/org/promethist/core/model/Turn.kt
Due: document snapshot lib

Fixed loading dialogueEvents from dynamodb
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoEventRepository.kt
Due: none

DynamoDB: removed compatibility code; minor cleanup
  common/app/src/main/kotlin/org/promethist/common/repository/DynamoAbstractEntityRepository.kt
  lib/src/main/kotlin/org/promethist/core/model/Turn.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoTurnRepository.kt
Due: document snapshot lib, distribute client client/standalone
