Repository flowstorm/core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build release runner/app, build snapshot runner/app, build release builder/app, build snapshot builder/app, document snapshot lib, document snapshot app, document snapshot runner/api, document snapshot builder/api, distribute client client/standalone

build release runner/app:
  stage: build
  image: docker:stable
  variables:
    DIR: runner/app
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

build snapshot runner/app:
  stage: build
  image: docker:stable
  variables:
    DIR: runner/app
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

build release builder/app:
  stage: build
  image: docker:stable
  variables:
    DIR: builder/app
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

build snapshot builder/app:
  stage: build
  image: docker:stable
  variables:
    DIR: builder/app
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

document snapshot lib:
  stage: document
  image: registry.gitlab.com/promethist/system/builder
  variables:
    DIR: lib
    NAME: promethist-core-lib
  script:
  - cd $DIR
  - mvn dokka:dokka
  - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/preview/site/default/apidoc/

document snapshot app:
  stage: document
  image: registry.gitlab.com/promethist/system/builder
  variables:
    DIR: app
    NAME: promethist-core-app
  script:
  - cd $DIR
  - mvn dokka:dokka
  - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/preview/site/default/apidoc/

document snapshot runner/api:
  stage: document
  image: registry.gitlab.com/promethist/system/builder
  variables:
    DIR: runner/api
    NAME: promethist-core-runner-api
  script:
  - cd $DIR
  - mvn dokka:dokka
  - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/preview/site/default/apidoc/

document snapshot builder/api:
  stage: document
  image: registry.gitlab.com/promethist/system/builder
  variables:
    DIR: builder/api
    NAME: promethist-core-builder-api
  script:
  - cd $DIR
  - mvn dokka:dokka
  - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/preview/site/default/apidoc/

distribute client client/standalone:
  stage: distribute
  image: registry.gitlab.com/promethist/system/builder
  variables:
    DIR: client/standalone
    NAME: promethist
  script:
  - cd $DIR
  - mvn -B package
  - cp target/$NAME.jar /ext/cluster/default/default/repository/dist/$NAME-$CI_COMMIT_REF_NAME.jar

FEAT Entity: Added Entity dataset class
  lib/src/main/kotlin/org/promethist/core/model/EntityDataset.kt
Due: document snapshot lib

Added EntityModelBuilder interface
  builder/app/src/main/kotlin/org/promethist/core/builder/EntityModelBuilder.kt
Due: build release builder/app, build snapshot builder/app

Dynamodb: implemented turn repository
  common/app/src/main/kotlin/org/promethist/common/repository/DynamoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoAbstractEntityRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoTurnRepository.kt
Due: build release runner/app, build snapshot runner/app, distribute client client/standalone

DynamoDB: removed compatibility code; minor cleanup
  common/app/src/main/kotlin/org/promethist/common/repository/DynamoAbstractEntityRepository.kt
  lib/src/main/kotlin/org/promethist/core/model/Turn.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoEventRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoProfileRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoSessionRepository.kt
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoTurnRepository.kt
Due: build release runner/app, build snapshot runner/app, document snapshot lib, distribute client client/standalone

Fixed loading dialogueEvents from dynamodb
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoEventRepository.kt
Due: build release runner/app, build snapshot runner/app

Turn: added alias sessionId for dynamodb compatibility
  lib/src/main/kotlin/org/promethist/core/model/Turn.kt
Due: document snapshot lib

DynamoTurnRepository: fixed seeking
  runner/app/src/main/kotlin/org/promethist/core/repository/dynamodb/DynamoTurnRepository.kt
Due: build release runner/app, build snapshot runner/app

CI update
  pom.xml
  settings.xml
Due: none

FIX ignoring *local*
  .gitignore
  app/src/main/kotlin/ai/flowstorm/core/provider/LocalFileStorage.kt
Due: document snapshot app

Temporarily set Auth0 related domain to promethist -> will be reverted when auth0 is configured.
  common/lib/src/main/kotlin/ai/flowstorm/security/JwtToken.kt
Due: distribute client client/standalone

CI FIX
  settings.xml
Due: none

CI update
  .gitlab-ci.yml
  pom.xml
  settings.xml
Due: none

CI update
  .gitlab-ci.yml
Due: none

CI FIX
  .gitlab-ci.yml
Due: none

improved dialogue class loading - dialogue builder now loads dialogue classes from JAR, not from separate class files, to ensure same loading mechanism as in runner
  app/src/main/kotlin/ai/flowstorm/core/runtime/AbstractLoader.kt
  app/src/main/kotlin/ai/flowstorm/core/runtime/DialogueClassLoader.kt
  builder/app/src/main/kotlin/ai/flowstorm/core/builder/DialogueBuilder.kt
Due: build release builder/app, build snapshot builder/app, document snapshot app

FIX dialogue build fail handling (missing jar raised exception)
  builder/app/src/main/kotlin/ai/flowstorm/core/builder/DialogueBuilder.kt
Due: build release builder/app, build snapshot builder/app

Entity recognition is integrated in illusionist service
  common/lib/src/main/kotlin/ai/flowstorm/common/ServiceUrlResolver.kt
  lib/src/main/kotlin/ai/flowstorm/core/Input.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/nlp/Action.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/nlp/IllusionistIR.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/nlp/IllusionistNER.kt
Due: build release runner/app, build snapshot runner/app, document snapshot lib, distribute client client/standalone

APP-82 formatting response item text
  lib/src/main/kotlin/ai/flowstorm/core/model/Turn.kt
Due: document snapshot lib

security manager
  app/src/main/kotlin/ai/flowstorm/core/dialogue/BasicDialogue.kt
  app/src/main/kotlin/ai/flowstorm/core/dialogue/attribute/AttributeDelegate.kt
  app/src/main/kotlin/ai/flowstorm/core/dialogue/attribute/CommunityAttributeDelegate.kt
  app/src/main/kotlin/ai/flowstorm/core/dialogue/attribute/ContextualAttributeDelegate.kt
  app/src/main/kotlin/ai/flowstorm/core/dialogue/attribute/TempAttributeDelegate.kt
  app/src/main/kotlin/ai/flowstorm/core/dialogue/metric/MetricDelegate.kt
  app/src/main/kotlin/ai/flowstorm/core/runtime/Api.kt
  app/src/main/kotlin/ai/flowstorm/core/runtime/DialogueClassLoader.kt
  app/src/main/kotlin/ai/flowstorm/core/runtime/DialogueManager.kt
  app/src/test/kotlin/ai/flowstorm/core/dialogue/DialogueTest.kt
  builder/app/src/main/kotlin/ai/flowstorm/core/builder/DialogueBuilder.kt
  lib/src/main/kotlin/ai/flowstorm/core/dialogue/AbstractDialogue.kt
  lib/src/main/kotlin/ai/flowstorm/core/runtime/DialogueException.kt
  lib/src/main/kotlin/ai/flowstorm/core/runtime/DialogueRuntime.kt
  lib/src/main/kotlin/ai/flowstorm/core/runtime/DialogueSecurityManager.kt
  lib/src/main/kotlin/ai/flowstorm/core/type/Memory.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/context/ContextFactory.kt
Due: build release runner/app, build snapshot runner/app, build release builder/app, build snapshot builder/app, document snapshot lib, document snapshot app

security management update (loader delegate modification to prevent direct access to java.io/net packages)
  app/src/main/kotlin/ai/flowstorm/core/dialogue/BasicDialogue.kt
  lib/src/main/kotlin/ai/flowstorm/core/runtime/DialogueSecurityManager.kt
Due: document snapshot lib, document snapshot app

APP-11 run conversation from particular node
  app/src/main/kotlin/ai/flowstorm/core/runtime/DialogueManager.kt
  lib/src/main/kotlin/ai/flowstorm/core/Context.kt
  lib/src/main/kotlin/ai/flowstorm/core/runtime/DialogueSecurityManager.kt
Due: document snapshot lib, document snapshot app

undefined value description localization
  app/src/main/kotlin/ai/flowstorm/core/dialogue/DescriptiveExtensions.kt
Due: document snapshot app

FEAT: moving DucklingEntity to allow access from editor
  lib/src/main/kotlin/ai/flowstorm/core/type/DucklingEntity.kt
Due: document snapshot lib

APP-16 include error turn in session; FIX file resource does not throws exception when file not found
  runner/api/src/main/kotlin/ai/flowstorm/core/resources/FileResource.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/context/ContextPersister.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/resources/CoreResourceImpl.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/resources/FileResourceImpl.kt
Due: build release runner/app, build snapshot runner/app, document snapshot runner/api

FIX: locale format supported by Duckling
  runner/app/src/main/kotlin/ai/flowstorm/core/nlp/Duckling.kt
Due: build release runner/app, build snapshot runner/app

elastic error should not raise exception
  runner/app/src/main/kotlin/ai/flowstorm/core/context/ContextPersister.kt
Due: build release runner/app, build snapshot runner/app

security management improvements - reduced amount of accepted packages
  app/src/main/kotlin/ai/flowstorm/core/runtime/Api.kt
  lib/src/main/kotlin/ai/flowstorm/core/runtime/DialogueRuntime.kt
  lib/src/main/kotlin/ai/flowstorm/core/runtime/DialogueSecurityManager.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
Due: build release runner/app, build snapshot runner/app, document snapshot lib, document snapshot app

FEAT: moving DucklingEntity to allow access when building (#14)
  lib/src/main/kotlin/ai/flowstorm/core/type/DucklingEntity.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/nlp/Duckling.kt
Due: build release runner/app, build snapshot runner/app, document snapshot lib

security improvements - pipeline runtime in separate thread with timeout limit
  app/src/main/kotlin/ai/flowstorm/core/runtime/ContextLog.kt
  app/src/test/kotlin/ai/flowstorm/core/runtime/ContextLogTest.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/Bot.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/handlers/alexa/AmazonAlexaHandler.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/handlers/alexa/CancelAndStopIntentHandler.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/handlers/alexa/FallbackIntentHandler.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/handlers/alexa/HelpIntentHandler.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/handlers/alexa/LaunchRequestHandler.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/handlers/alexa/MessageIntentHandler.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/handlers/alexa/SessionEndedRequestHandler.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/handlers/google/GoogleAssistantApp.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/resources/CoreResourceImpl.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/runtime/ContextFactory.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/runtime/ContextPersister.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/runtime/PipelineFactory.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/runtime/PipelineRuntime.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/socket/AbstractBotSocketAdapter.kt
Due: build release runner/app, build snapshot runner/app, document snapshot app

FIX pipeline runtime call result
  app/src/main/kotlin/ai/flowstorm/core/runtime/Api.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/runtime/PipelineRuntime.kt
Due: build release runner/app, build snapshot runner/app, document snapshot app

security improvements + logging dialogue id in turns
  lib/src/main/kotlin/ai/flowstorm/core/model/Turn.kt
  lib/src/main/kotlin/ai/flowstorm/core/runtime/DialogueSecurityManager.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/runtime/ContextFactory.kt
Due: build release runner/app, build snapshot runner/app, document snapshot lib

Dynamodb: fixed id
  runner/app/src/main/kotlin/ai/flowstorm/core/repository/dynamodb/DynamoTurnRepository.kt
Due: build release runner/app, build snapshot runner/app

Entity recognition is integrated in illusionist service (#13)
  common/lib/src/main/kotlin/ai/flowstorm/common/ServiceUrlResolver.kt
  lib/src/main/kotlin/ai/flowstorm/core/Input.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/nlp/Action.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/nlp/IllusionistIR.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/nlp/IllusionistNER.kt
Due: build release runner/app, build snapshot runner/app, document snapshot lib, distribute client client/standalone

using strictly 3rd level domain names + distribution of helm charts
  .gitlab-ci.yml
  common/lib/src/main/kotlin/ai/flowstorm/common/ServiceUrlResolver.kt
  deploy/builder/Chart.yaml
  deploy/builder/app/Chart.yaml
  deploy/builder/templates/configmap.yaml
  deploy/builder/templates/service.yaml
  deploy/builder/templates/statefulset.yaml
  deploy/builder/values.yaml
  deploy/nginx-config.yaml
  deploy/runner/Chart.yaml
  deploy/runner/app/Chart.yaml
  deploy/runner/app/templates/ingress.yaml
  deploy/runner/templates/configmap.yaml
  deploy/runner/templates/ingress.yaml
  deploy/runner/templates/service.yaml
  deploy/runner/templates/statefulset.yaml
  deploy/runner/values.yaml
  deploy/triton/Chart.yaml
  deploy/triton/templates/ingress.yaml
  deploy/triton/templates/service.yaml
  deploy/triton/templates/statefulset.yaml
  deploy/triton/values.yaml
Due: distribute client client/standalone

FIX CI
  .gitlab-ci.yml
Due: none

CI update
  .gitlab-ci.yml
  deploy/builder/values.yaml
  deploy/runner/values.yaml
Due: none

CI tuning
  .gitlab-ci.yml
  deploy/builder/Chart.yaml
  deploy/builder/templates/configmap.yaml
  deploy/builder/templates/service.yaml
  deploy/builder/templates/statefulset.yaml
  deploy/builder/values.yaml
  deploy/runner/Chart.yaml
  deploy/runner/templates/configmap.yaml
  deploy/runner/templates/ingress.yaml
  deploy/runner/templates/service.yaml
  deploy/runner/templates/statefulset.yaml
  deploy/runner/values.yaml
  deploy/triton/Chart.yaml
  deploy/triton/templates/ingress.yaml
  deploy/triton/templates/service.yaml
  deploy/triton/templates/statefulset.yaml
  deploy/triton/values.yaml
Due: none

Path conditions:
  build release runner/app: any of: runner/app/**/*
  build snapshot runner/app: any of: runner/app/**/*
  build release builder/app: any of: builder/app/**/*
  build snapshot builder/app: any of: builder/app/**/*
  document snapshot lib: any of: lib/**/*
  document snapshot app: any of: app/**/*
  document snapshot runner/api: any of: runner/api/**/*
  document snapshot builder/api: any of: builder/api/**/*
  distribute client client/standalone: any of: client/**/*, common/**/*
