Repository flowstorm/core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package chart runner, package chart builder, package chart triton, build release runner, build snapshot runner, build release builder, build snapshot builder, distribute client client/standalone, document snapshot lib, document snapshot app, document snapshot runner/api, document snapshot builder/api

package chart runner:
  stage: package
  image: registry.gitlab.com/promethistai/system/deployer
  variables:
    NAME: runner
  script:
  - sed -i -- "s/0.0.0/$CI_COMMIT_REF_NAME/g" deploy/$NAME/Chart.yaml
  - helm3 package deploy/$NAME
  - cp *.tgz $REPO_DIR/helm

package chart builder:
  stage: package
  image: registry.gitlab.com/promethistai/system/deployer
  variables:
    NAME: builder
  script:
  - sed -i -- "s/0.0.0/$CI_COMMIT_REF_NAME/g" deploy/$NAME/Chart.yaml
  - helm3 package deploy/$NAME
  - cp *.tgz $REPO_DIR/helm

package chart triton:
  stage: package
  image: registry.gitlab.com/promethistai/system/deployer
  variables:
    NAME: triton
  script:
  - sed -i -- "s/0.0.0/$CI_COMMIT_REF_NAME/g" deploy/$NAME/Chart.yaml
  - helm3 package deploy/$NAME
  - cp *.tgz $REPO_DIR/helm

build release runner:
  stage: build
  image: docker:stable
  variables:
    DIR: runner/app
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $CI_REGISTRY_IMAGE/$DIR || true
  script:
  ...

build snapshot runner:
  stage: build
  image: docker:stable
  variables:
    DIR: runner/app
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $CI_REGISTRY_IMAGE/$DIR || true
  script:
  ...

build release builder:
  stage: build
  image: docker:stable
  variables:
    DIR: builder/app
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $CI_REGISTRY_IMAGE/$DIR || true
  script:
  ...

build snapshot builder:
  stage: build
  image: docker:stable
  variables:
    DIR: builder/app
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $CI_REGISTRY_IMAGE/$DIR || true
  script:
  ...

distribute client client/standalone:
  stage: distribute
  image: registry.gitlab.com/promethistai/system/builder
  variables:
    DIR: client/standalone
    NAME: flowstorm
  script:
  - cd $DIR
  - mvn -B package
  - cp target/$NAME.jar $REPO_DIR/dist/$NAME-$CI_COMMIT_REF_NAME.jar

document snapshot lib:
  stage: document
  image: registry.gitlab.com/promethistai/system/builder
  variables:
    DIR: lib
    NAME: flowstorm-core-lib
  script:
  - cd $DIR
  - mvn dokka:dokka
  - rsync -rv --delete ./target/dokka/$NAME /ext/cluster/default/preview/site/default/apidoc/

document snapshot app:
  stage: document
  image: registry.gitlab.com/promethistai/system/builder
  variables:
    DIR: app
    NAME: flowstorm-core-app
  script:
  - cd $DIR
  - mvn dokka:dokka
  - rsync -rv --delete ./target/dokka/$NAME /ext/cluster/default/preview/site/default/apidoc/

update
  client/common/src/main/kotlin/ai/flowstorm/client/common/BotClientSocket.kt
  client/common/src/main/kotlin/ai/flowstorm/client/common/OkHttp3BotClientSocket.kt
  client/common/src/main/kotlin/ai/flowstorm/client/util/HttpUtil.kt
  client/standalone/src/main/kotlin/ai/flowstorm/client/common/JwsBotClientSocket.kt
  client/standalone/src/main/kotlin/ai/flowstorm/client/standalone/cli/ClientCommand.kt
  common/lib/src/main/kotlin/ai/flowstorm/security/X509TrustAllManager.kt
Due: distribute client client/standalone

App 203 tts test (#17)
  lib/src/main/kotlin/ai/flowstorm/core/tts/TtsProvider.kt
  lib/src/main/kotlin/ai/flowstorm/core/tts/TtsResponse.kt
  runner/api/src/main/kotlin/ai/flowstorm/core/resources/TtsResource.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/resources/TtsResourceImpl.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/runtime/PipelineFactory.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/socket/AbstractBotSocketAdapter.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/AmazonTtsProvider.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/GoogleTtsProvider.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/MicrosoftTtsProvider.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsAudioFile.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsAudioFileService.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsService.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsServiceFactory.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/VoiceryTtsProvider.kt
Due: build release runner, build snapshot runner, document snapshot lib, document snapshot runner/api

FIX import of TTS classes
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
Due: build release runner, build snapshot runner

App 50 configurable sentry dsn (#20)
  common/app/src/main/kotlin/ai/flowstorm/common/monitoring/SentryMonitor.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
Due: build release runner, build snapshot runner, distribute client client/standalone

update
  common/lib/src/main/kotlin/ai/flowstorm/common/SystemUtil.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/socket/BotCallSocketAdapter.kt
Due: build release runner, build snapshot runner, distribute client client/standalone

multiple TTS formats
  client/lib/src/main/kotlin/ai/flowstorm/client/BotClient.kt
  client/lib/src/main/kotlin/ai/flowstorm/client/BotConfig.kt
  client/standalone/src/main/kotlin/ai/flowstorm/client/standalone/cli/ClientCommand.kt
  lib/src/main/kotlin/ai/flowstorm/core/AudioFileType.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/resources/TtsResourceImpl.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/socket/AbstractBotSocketAdapter.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/socket/BotCallSocketAdapter.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsAudioFile.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsAudioFileService.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsService.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/util/AudioUtil.kt
Due: build release runner, build snapshot runner, distribute client client/standalone, document snapshot lib

App 273 multiple tts formats (#21)
  client/lib/src/main/kotlin/ai/flowstorm/client/BotClient.kt
  client/lib/src/main/kotlin/ai/flowstorm/client/BotConfig.kt
  client/standalone/src/main/kotlin/ai/flowstorm/client/standalone/cli/ClientCommand.kt
  common/lib/src/main/kotlin/ai/flowstorm/common/SystemUtil.kt
  lib/src/main/kotlin/ai/flowstorm/core/AudioFileType.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/resources/TtsResourceImpl.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/socket/AbstractBotSocketAdapter.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/socket/BotCallSocketAdapter.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsAudioFile.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsAudioFileService.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsService.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/util/AudioUtil.kt
Due: build release runner, build snapshot runner, distribute client client/standalone, document snapshot lib

CI FIX
  .gitlab-ci.yml
Due: none

APP-221: Moved EntityDataset from lib to builder
  builder/api/src/main/kotlin/ai/flowstorm/core/builder/EntityDataset.kt
  builder/api/src/main/kotlin/ai/flowstorm/core/builder/resources/BuilderResource.kt
Due: build release builder, build snapshot builder, document snapshot builder/api

Using illusionist preview
  deploy/builder/templates/configmap.yaml
  deploy/runner/templates/configmap.yaml
Due: package chart runner, package chart builder

Elasticsearch conditional binding
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
Due: build release runner, build snapshot runner

Removed illusionist preview url from configmap
  deploy/builder/templates/configmap.yaml
  deploy/runner/templates/configmap.yaml
Due: package chart runner, package chart builder

APP-221: entity models know the space_id
  builder/api/src/main/kotlin/ai/flowstorm/core/builder/EntityDataset.kt
  builder/app/src/main/kotlin/ai/flowstorm/core/builder/EntityModelBuilder.kt
  builder/app/src/main/kotlin/ai/flowstorm/core/builder/IllusionistModelBuilder.kt
  builder/app/src/main/kotlin/ai/flowstorm/core/builder/resources/BuilderResourceImpl.kt
Due: build release builder, build snapshot builder, document snapshot builder/api

Added entity model build status
  builder/api/src/main/kotlin/ai/flowstorm/core/builder/EntityDataset.kt
  builder/api/src/main/kotlin/ai/flowstorm/core/builder/resources/BuilderResource.kt
  builder/app/src/main/kotlin/ai/flowstorm/core/builder/EntityModelBuilder.kt
  builder/app/src/main/kotlin/ai/flowstorm/core/builder/IllusionistModelBuilder.kt
  builder/app/src/main/kotlin/ai/flowstorm/core/builder/resources/BuilderResourceImpl.kt
Due: build release builder, build snapshot builder, document snapshot builder/api

CLIENT-4: Added session recovery after failure
  client/lib/src/main/kotlin/ai/flowstorm/client/BotClient.kt
Due: distribute client client/standalone

APP-280-bot-ui-update
  .gitignore
  client/web/libs/bot-ui/package.json
  client/web/libs/bot-ui/src/app/app.ts
  client/web/libs/bot-ui/webpack.common.js
  client/web/libs/bot-ui/webpack.dev.js
Due: distribute client client/standalone

CLIENT-4: Improved session recovery
  client/lib/src/main/kotlin/ai/flowstorm/client/BotClient.kt
  client/lib/src/main/kotlin/ai/flowstorm/client/BotEvent.kt
  client/lib/src/main/kotlin/ai/flowstorm/client/OutputQueue.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/socket/AbstractBotSocketAdapter.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/socket/BotClientSocketAdapter.kt
Due: build release runner, build snapshot runner, distribute client client/standalone

APP-280-migrate-web-client
  client/web/libs/bot-ui/babel.config.js
  client/web/libs/bot-ui/package.json
  client/web/libs/bot-ui/src/app/app.ts
  client/web/libs/bot-ui/webpack.common.js
  client/web/libs/bot-ui/webpack.prod.js
  client/web/libs/bot-ui/yarn.lock
Due: distribute client client/standalone

APP-280-migrate-web-client
  client/web/libs/bot-ui/src/app/app.ts
  client/web/libs/bot-ui/src/app/utils/debounce.fnc.ts
  client/web/libs/bot-ui/src/app/utils/index.ts
  client/web/libs/bot-ui/src/app/utils/inject-css.fnc.ts
Due: distribute client client/standalone

initial implementation
  app/src/main/kotlin/ai/flowstorm/core/model/IntentModel.kt
  builder/api/src/main/kotlin/ai/flowstorm/core/builder/IntentModel.kt
  client/lib/src/main/kotlin/ai/flowstorm/client/BotConfig.kt
  common/lib/src/main/kotlin/ai/flowstorm/security/Digest.kt
  lib/src/main/kotlin/ai/flowstorm/core/Hashable.kt
  lib/src/main/kotlin/ai/flowstorm/core/Response.kt
  lib/src/main/kotlin/ai/flowstorm/core/model/TtsConfig.kt
  lib/src/main/kotlin/ai/flowstorm/core/tts/TtsRequest.kt
  runner/api/src/main/kotlin/ai/flowstorm/core/resources/VideoResource.kt
  runner/app/pom.xml
  runner/app/src/main/kotlin/ai/flowstorm/core/RunnerApplication.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/resources/TtsResourceImpl.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/resources/VideoResourceImpl.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/socket/AbstractBotSocketAdapter.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/socket/BotClientSocketAdapter.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsAudioFile.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsAudioService.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/tts/TtsService.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/util/AudioUtil.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/video/VideoSegment.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/video/VideoService.kt
  runner/app/src/main/kotlin/ai/flowstorm/core/video/VideoStream.kt
Due: build release runner, build snapshot runner, build release builder, build snapshot builder, distribute client client/standalone, document snapshot lib, document snapshot app, document snapshot runner/api, document snapshot builder/api

CI update
  .gitlab-ci.yml
Due: none

Readme updated
  README.md
Due: none

Path conditions:
  package chart runner: any of: deploy/runner/**/*
  package chart builder: any of: deploy/builder/**/*
  package chart triton: any of: deploy/triton/**/*
  build release runner: any of: runner/**/*
  build snapshot runner: any of: runner/**/*
  build release builder: any of: builder/**/*
  build snapshot builder: any of: builder/**/*
  distribute client client/standalone: any of: client/**/*, common/**/*
  document snapshot lib: any of: lib/**/*
  document snapshot app: any of: app/**/*
  document snapshot runner/api: any of: runner/api/**/*
  document snapshot builder/api: any of: builder/api/**/*
