Repository flowstorm/core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: document snapshot api, document snapshot app, document snapshot service/api, distribute client client/standalone

document snapshot api:
  stage: document
  image: registry.promethist.ai/common/system/builder
  variables:
    DIR: ..
    NAME: core-api
  script:
  - cd $DIR
  - mvn dokka:dokka
  - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/develop/site/default/apidoc/

document snapshot app:
  stage: document
  image: registry.promethist.ai/common/system/builder
  variables:
    DIR: ..
    NAME: core-app
  script:
  - cd $DIR
  - mvn dokka:dokka
  - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/develop/site/default/apidoc/

document snapshot service/api:
  stage: document
  image: registry.promethist.ai/common/system/builder
  variables:
    DIR: service/api
    NAME: core-service-api
  script:
  - cd $DIR
  - mvn dokka:dokka
  - rsync -arv --delete ./target/dokka/$NAME /ext/cluster/default/develop/site/default/apidoc/

distribute client client/standalone:
  stage: distribute
  image: registry.promethist.ai/common/system/builder
  variables:
    DIR: client/standalone
    NAME: promethist
  script:
  - cd $DIR
  - mvn -B package
  - cp target/$NAME.jar /ext/cluster/default/default/repository/dist/$NAME-$CI_COMMIT_REF_NAME.jar

S3 storage implementation added
  runner/app/src/main/kotlin/org/promethist/core/storage/AmazonS3Storage.kt
Due: none

FIX CI
  .gitlab-ci.yml
Due: none

RestClient configurable read timeout + connect timeout decreased to 5 sec
  common/client/src/main/kotlin/org/promethist/common/RestClient.kt
Due: distribute client client/standalone

Fixed Memory attributes cast error
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/AttributeDelegate.kt
Due: document snapshot app

license company name
  LICENSE.txt
Due: none

dialogue builder service + Digest util class implementation
  app/src/main/kotlin/org/promethist/core/builder/DialogueSourceCodeBuilder.kt
  builder/api/pom.xml
  builder/api/src/main/kotlin/org/promethist/core/builder/Info.kt
  builder/api/src/main/kotlin/org/promethist/core/builder/IntentModel.kt
  builder/api/src/main/kotlin/org/promethist/core/builder/Request.kt
  builder/api/src/main/kotlin/org/promethist/core/builder/Response.kt
  builder/api/src/main/kotlin/org/promethist/core/builder/resources/BuilderResource.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/BuildLogAppender.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/BuilderApplication.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/DialogueBuilder.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/IllusionistModelBuilder.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/IntentModelBuilder.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/resources/BuilderResourceImpl.kt
  builder/app/src/test/kotlin/org/promethist/core/builder/DialogueBuilderTest.kt
  common/lib/src/main/kotlin/org/promethist/common/ServiceUrlResolver.kt
  common/lib/src/main/kotlin/org/promethist/util/DataConverter.kt
  common/lib/src/main/kotlin/org/promethist/util/Digest.kt
  lib/src/main/kotlin/org/promethist/core/dialogue/AbstractDialogue.kt
  lib/src/main/kotlin/org/promethist/core/model/DialogueBuild.kt
  lib/src/main/kotlin/org/promethist/core/model/DialogueSourceCode.kt
  lib/src/main/kotlin/org/promethist/core/tts/TtsRequest.kt
  runner/app/src/main/kotlin/org/promethist/core/socket/BotCallSocketAdapter.kt
Due: document snapshot app, distribute client client/standalone

base.ref added to Check object
  common/app/src/main/kotlin/org/promethist/common/resources/Check.kt
  common/app/src/main/kotlin/org/promethist/common/resources/CheckResource.kt
Due: distribute client client/standalone

properties with promethist prefix
  builder/api/pom.xml
  runner/api/pom.xml
Due: none

builder illusionist.approach set to logistic
  builder/app/src/main/kotlin/org/promethist/core/builder/BuilderApplication.kt
Due: none

illusionist approach added to init log
  builder/app/src/main/kotlin/org/promethist/core/builder/IllusionistModelBuilder.kt
Due: none

Removed AmazonS3Storage class from deleted service module
  service/app/src/main/kotlin/org/promethist/core/storage/AmazonS3Storage.kt
Due: none

voicery voices disabled due to service shut down
  app/src/main/kotlin/org/promethist/core/runtime/DialogueRunner.kt
  lib/src/main/kotlin/org/promethist/core/model/TtsConfig.kt
  runner/app/src/main/kotlin/org/promethist/core/tts/VoiceryTtsService.kt
Due: document snapshot app

preparation for public release
  .gitignore
  pom.xml
Due: none

[maven-release-plugin] prepare release 2.15
  app/pom.xml
  builder/api/pom.xml
  builder/app/pom.xml
  builder/pom.xml
  client/common/pom.xml
  client/lib/pom.xml
  client/pom.xml
  client/standalone/pom.xml
  common/app/pom.xml
  common/client/pom.xml
  common/lib/pom.xml
  common/pom.xml
  lib/pom.xml
  pom.xml
  runner/api/pom.xml
  runner/app/pom.xml
  runner/pom.xml
Due: document snapshot app, distribute client client/standalone

ServiceUrlResolver: base domain is now configurable
  common/lib/src/main/kotlin/org/promethist/common/ServiceUrlResolver.kt
Due: distribute client client/standalone

[maven-release-plugin] prepare release 2.16
  app/pom.xml
  builder/api/pom.xml
  builder/app/pom.xml
  builder/pom.xml
  client/common/pom.xml
  client/lib/pom.xml
  client/pom.xml
  client/standalone/pom.xml
  common/app/pom.xml
  common/client/pom.xml
  common/lib/pom.xml
  common/pom.xml
  lib/pom.xml
  pom.xml
  runner/api/pom.xml
  runner/app/pom.xml
  runner/pom.xml
Due: document snapshot app, distribute client client/standalone

[maven-release-plugin] prepare for next development iteration
  app/pom.xml
  builder/api/pom.xml
  builder/app/pom.xml
  builder/pom.xml
  client/common/pom.xml
  client/lib/pom.xml
  client/pom.xml
  client/standalone/pom.xml
  common/app/pom.xml
  common/client/pom.xml
  common/lib/pom.xml
  common/pom.xml
  lib/pom.xml
  pom.xml
  runner/api/pom.xml
  runner/app/pom.xml
  runner/pom.xml
Due: document snapshot app, distribute client client/standalone

ServiceUrlResolver: base domain is now configurable (#1)
  common/lib/src/main/kotlin/org/promethist/common/ServiceUrlResolver.kt
Due: distribute client client/standalone

FIX: filtering duplicities for OOD examples
  builder/api/src/main/kotlin/org/promethist/core/builder/Request.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/DialogueBuilder.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/IllusionistModelBuilder.kt
  builder/app/src/main/kotlin/org/promethist/core/builder/IntentModelBuilder.kt
Due: none

better message sender logging
  common/app/src/main/kotlin/org/promethist/common/messaging/MailgunSender.kt
  common/lib/src/main/kotlin/org/promethist/common/messaging/MessageSender.kt
  runner/api/pom.xml
Due: distribute client client/standalone

POM version back to 1.0.0-SNAPSHOT
  app/pom.xml
  builder/api/pom.xml
  builder/app/pom.xml
  builder/pom.xml
  client/common/pom.xml
  client/lib/pom.xml
  client/pom.xml
  client/standalone/pom.xml
  common/app/pom.xml
  common/client/pom.xml
  common/lib/pom.xml
  common/pom.xml
  lib/pom.xml
  pom.xml
  runner/api/pom.xml
  runner/app/pom.xml
  runner/pom.xml
Due: document snapshot app, distribute client client/standalone

CI image refs update
  .gitlab-ci.yml
Due: none

distribution management config revert
  pom.xml
Due: none

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

FIX version in POM
  app/pom.xml
  builder/api/pom.xml
  builder/app/pom.xml
  builder/pom.xml
  client/common/pom.xml
  client/lib/pom.xml
  client/pom.xml
  client/standalone/pom.xml
  common/app/pom.xml
  common/client/pom.xml
  common/lib/pom.xml
  common/pom.xml
  lib/pom.xml
  pom.xml
  runner/api/pom.xml
  runner/app/pom.xml
  runner/pom.xml
Due: document snapshot app, distribute client client/standalone

APP-6 configurable voice
  app/src/main/kotlin/org/promethist/core/dialogue/BasicDialogue.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueManager.kt
  builder/api/src/main/kotlin/org/promethist/core/builder/Request.kt
  client/lib/src/main/kotlin/org/promethist/client/BotConfig.kt
  client/standalone/src/main/kotlin/org/promethist/client/standalone/cli/ToolCommand.kt
  lib/src/main/kotlin/org/promethist/core/Response.kt
  lib/src/main/kotlin/org/promethist/core/dialogue/AbstractDialogue.kt
  lib/src/main/kotlin/org/promethist/core/model/TtsConfig.kt
  lib/src/main/kotlin/org/promethist/core/model/Turn.kt
  lib/src/main/kotlin/org/promethist/core/model/Voice.kt
  lib/src/main/kotlin/org/promethist/core/tts/TtsRequest.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/alexa/AbstractHandler.kt
  runner/app/src/main/kotlin/org/promethist/core/handlers/google/PromethistApp.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
  runner/app/src/main/kotlin/org/promethist/core/socket/AbstractBotSocketAdapter.kt
  runner/app/src/main/kotlin/org/promethist/core/tts/AmazonTtsService.kt
  runner/app/src/main/kotlin/org/promethist/core/tts/GoogleTtsService.kt
  runner/app/src/main/kotlin/org/promethist/core/tts/MicrosoftTtsService.kt
  runner/app/src/main/kotlin/org/promethist/core/tts/TtsAudio.kt
  runner/app/src/main/kotlin/org/promethist/core/tts/TtsAudioService.kt
  runner/app/src/main/kotlin/org/promethist/core/tts/TtsServiceFactory.kt
  runner/app/src/main/kotlin/org/promethist/core/tts/VoiceryTtsService.kt
Due: document snapshot app, distribute client client/standalone

APP-9 #error action
  app/src/main/kotlin/org/promethist/core/dialogue/attribute/CommunityAttributeDelegate.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueLoadTest.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueManager.kt
  app/src/main/kotlin/org/promethist/core/runtime/DialogueRunner.kt
  app/src/main/kotlin/org/promethist/core/runtime/SimpleDialogueEventRepository.kt
  lib/src/main/kotlin/org/promethist/core/Context.kt
  lib/src/main/kotlin/org/promethist/core/Pipeline.kt
  lib/src/main/kotlin/org/promethist/core/model/DialogueEvent.kt
  lib/src/main/kotlin/org/promethist/core/repository/DialogueEventRepository.kt
  runner/api/src/main/kotlin/org/promethist/core/resources/DialogueEventResource.kt
  runner/app/src/main/kotlin/org/promethist/core/PipelineFactory.kt
  runner/app/src/main/kotlin/org/promethist/core/context/ContextFactory.kt
  runner/app/src/main/kotlin/org/promethist/core/context/ContextPersister.kt
  runner/app/src/main/kotlin/org/promethist/core/resources/CoreResourceImpl.kt
Due: document snapshot app

CORE-20: Remove illusionist from pipeline, when action is detected.
  app/src/main/kotlin/org/promethist/core/runtime/DialogueManager.kt
  lib/src/main/kotlin/org/promethist/core/Pipeline.kt
  runner/app/src/main/kotlin/org/promethist/core/nlp/Action.kt
Due: document snapshot app

Described interface added
  lib/src/main/kotlin/org/promethist/core/model/Described.kt
Due: none

continuous delivery (using only master + issue branches)
  .gitlab-ci.yml
Due: none

CI update; illusionist-training in optional dataspace
  .gitlab-ci.yml
  builder/app/src/main/kotlin/org/promethist/core/builder/BuilderApplication.kt
Due: none

docker image build; helm deploy charts; client json debug logging
  .gitlab-ci.yml
  client/common/src/main/kotlin/org/promethist/client/common/BotClientSocket.kt
  client/common/src/main/kotlin/org/promethist/client/common/OkHttp3BotClientSocket.kt
  client/standalone/src/main/kotlin/org/promethist/client/client/JwsBotClientSocket.kt
  deploy/builder/app/Chart.yaml
  deploy/builder/app/templates/configmap.yaml
  deploy/builder/app/templates/service.yaml
  deploy/builder/app/templates/statefulset.yaml
  deploy/builder/app/values.yaml
  deploy/runner/app/Chart.yaml
  deploy/runner/app/templates/configmap.yaml
  deploy/runner/app/templates/ingress.yaml
  deploy/runner/app/templates/service.yaml
  deploy/runner/app/templates/statefulset.yaml
  deploy/runner/app/values.yaml
Due: distribute client client/standalone

improved deployment
  README.md
  builder/app/Dockerfile
  client/standalone/src/main/kotlin/org/promethist/client/standalone/cli/ClientCommand.kt
  client/standalone/src/main/kotlin/org/promethist/client/standalone/cli/ClientConfig.kt
  deploy/builder/app/values.yaml
  deploy/clusterissuer-letsencrypt.yaml
  deploy/nginx-config.yaml
  deploy/runner/app/templates/ingress.yaml
  deploy/runner/app/values.yaml
  runner/app/Dockerfile
Due: distribute client client/standalone

structural update: InputAudioDevice and JwsBotClientSocket classes moved, NoSpeechDevice object added
  .gitignore
  client/common/src/main/kotlin/org/promethist/client/audio/InputAudioDevice.kt
  client/common/src/main/kotlin/org/promethist/client/audio/NoSpeechDevice.kt
  client/standalone/src/main/kotlin/org/promethist/client/common/JwsBotClientSocket.kt
  client/standalone/src/main/kotlin/org/promethist/client/standalone/cli/ClientCommand.kt
  client/standalone/src/main/kotlin/org/promethist/client/standalone/io/Microphone.kt
Due: distribute client client/standalone

FIX BotClient.inputAudioStreamOpen always changing state to Listening; Microphone does not require speechDevice (NoSpeechDevice is default)
  client/lib/src/main/kotlin/org/promethist/client/BotClient.kt
  client/standalone/src/main/kotlin/org/promethist/client/standalone/io/Microphone.kt
Due: distribute client client/standalone

extended logging
  runner/app/src/main/kotlin/org/promethist/core/RunnerApplication.kt
  runner/app/src/main/kotlin/org/promethist/core/storage/GoogleStorage.kt
Due: none

Path conditions:
  document snapshot api: any of: api/**/*
  document snapshot app: any of: app/**/*
  document snapshot service/api: any of: service/api/**/*
  distribute client client/standalone: any of: client/**/*, common/**/*
